:root {
	--number-of-items: 3;
	--next-item-preview: 0px;
	--border-radius: 4px;
}

@media screen and (max-width: 1439px) {
	:root {
		--number-of-items: 3;
		--next-item-preview: 80px;
	}
}
@media screen and (max-width: 991px) {
	:root {
		--number-of-items: 2;
		--next-item-preview: 140px;
	}
}
@media screen and (max-width: 740px) {
	:root {
		--number-of-items: 2;
		--next-item-preview: 80px;
	}
}
@media screen and (max-width: 650px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 240px;
	}
}
@media screen and (max-width: 570px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 180px;
	}
}
@media screen and (max-width: 500px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 140px;
	}
}
@media screen and (max-width: 440px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 100px;
	}
}
.in-index {
	#homepage-banner {
		position: relative;
		padding-top: 22px;
		user-select: none;
		display: block;
		#carousel-banner {
			display: flex !important;
			flex-direction: row;
			overflow-x: scroll;
			--gap: 10px;
			gap: var(--gap);
			flex-wrap: nowrap;
			margin-left: 0;
			margin-right: 0;
			min-height: auto !important;
			height: auto !important;
			&::-webkit-scrollbar {
				display: none;
			}
			&.grabbing {
				cursor: grabbing !important;
				a {
					cursor: grabbing !important;
				}
			}
			> div {
				display: block !important;
				position: relative !important;
				inset: 0 !important;
				color: black;
				text-wrap: pretty;
				width: calc(
					100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) /
						var(--number-of-items) - var(--next-item-preview) / var(--number-of-items)
				);
				border-radius: var(--border-radius);
				overflow: hidden;
				border: 2px solid transparent;
				flex-shrink: 0;
				scroll-snap-align: start;
				flex-basis: auto;
				a {
					background: linear-gradient(to bottom, white, #f9f9f9);
					position: relative;
					color: inherit;
					text-decoration: none;
					display: block;
					overflow: hidden;
				}

				a,
				img {
					-webkit-user-drag: none;
					user-select: none;
				}
				img {
					transition: transform 0.3s ease;
				}
				&:hover {
					img {
						/* 	transform: scale(1.025); */
					}
					border: 2px solid #06babc;
				}
			}
		}
		.carousel-control {
			--width: 40px;
			width: var(--width);
			height: var(--width);
			opacity: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			border-radius: var(--border-radius);
			overflow: hidden;
			cursor: pointer;
			@media screen and (max-width: 768px) {
				--width: 30px;
			}
			&::before {
				/* background: var(--color-primary); */
				color: #00cdc5;
				content: "\e61d";
				font-family: shoptet;
				font-size: 20px;
				position: relative;
				display: flex;
				width: 100%;
				height: 100%;
				inset: 0 !important;
				margin: 0;
				line-height: 1;
				border-radius: 0;
				justify-content: center;
				align-items: center;

				@media screen and (max-width: 768px) {
					font-size: 16px;
				}
			}
			&:hover,
			&:focus {
				&::before {
					color: #005a64;
				}
			}
		}
		.carousel-control.left {
			/* left: calc(var(--width) / -2); */
			left: 0;
			&::before {
				transform: rotate(180deg);
			}
			@media screen and (max-width: 768px) {
				/* left: calc(var(--width) / -2.5); */
				left: 0;
			}
		}
		.carousel-control.right {
			/* 	right: calc(var(--width)  -2); */
			right: 0;
			@media screen and (max-width: 768px) {
				/* 	right: calc(var(--width) / -2.5); */
				right: 0;
			}
		}

		.carousel-control.hidden-control {
			display: none !important;
		}
	}
	.news-item {
		.text {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			max-height: 1lh;
		}
	}
}

#menu-helper {
	&:before {
		background-color: transparent;
		color: white;
	}
	&:hover {
		&:before {
			background-color: #06babc;
			color: white;
		}
	}
}

.vyhody {
	margin-bottom: 20px;
}
.chcivybavit h2 {
	color: #005a64;
}
