.in-index #products-1 .products-block {
	display: flex;
	width: 100% !important;
	transform: none !important;
	cursor: auto;
}
.custom-display-none {
	display: none !important;
}
.navigation-tools .dropdown {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translatey(-50%);
	z-index: 2;
}
@media (min-width: 768px) {
	.navigation-buttons {
		padding-right: 60px;
	}
}
.custom-show-more-button {
	background-color: #fff;
	border-color: var(--color-secondary);
	color: var(--color-secondary);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	line-height: 16px;
	padding: 16px;
	text-align: center;
	text-transform: none;
	transition: all 0.3s ease-out;
	white-space: normal;
	margin: 20px auto;
	display: block;
	max-width: max-content;
}
.custom-show-more-button:hover {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
	color: #fff;
}

@media (max-width: 767px) {
	.benefitBanner .benefitBanner__item {
		flex: 0 0 50%;
		width: 50%;
	}
	.benefitBanner {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
	}
}
@media (max-width: 991px) {
	.type-product .variant-list {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
	}
	.type-product .variant-list select {
		text-align: center;
	}

	.type-product .detail-parameters {
		text-align: center;
	}
	.type-product .p-price-wrapper .price-final {
		text-align: center;
	}
	.type-product .social-buttons-wrapper {
		justify-content: center;
		padding-top: 20px;
	}
	.type-product .p-detail-inner .add-to-cart {
		flex-direction: column;
		gap: 32px;
		padding-top: 14px;
	}
	.type-product .p-detail-inner .add-to-cart .quantity {
		margin: 0;
	}
	.type-product .p-detail-inner .add-to-cart .add-to-cart-button {
		width: 80%;
	}
	.type-product .p-short-description {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
	.type-product .p-thumbnails-wrapper {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
}
/*custom barva na hover*/
.add-to-cart-button:hover {
	background: #419f1f !important;
	background: var(--tlacitko-na-hover) !important;
}
