.admin-logged {
  --color-primary: #0f3b2e;
  --color-primary-hover: #82ad44;
  --color-secondary: #82ad44;
  --color-secondary-hover: #0f3b2e;
  --color-tertiary: #82ad44;
  --color-tertiary-hover: #0f3b2e;
}
.admin-logged #header .search-form button {
  border-style: none;
}
.admin-logged.in-index h2,
.admin-logged.in-index h3,
.admin-logged.in-index h4,
.admin-logged.in-index .h2,
.admin-logged.in-index .h3,
.admin-logged.in-index .h4 {
  text-align: left;
}
.admin-logged.in-index #hodnoceniobchodu h2 {
  text-align: left;
}
.admin-logged.in-index #hodnoceniobchodu .rate-average-inner {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.admin-logged .welcome-wrapper .welcome div,
.admin-logged .welcome-wrapper .welcome h1 {
  max-width: none;
  width: 100%;
}
.admin-logged #footer {
  background: var(--color-primary);
  color: white;
}
.admin-logged #footer * {
  color: inherit;
}
.admin-logged #footer a {
  color: white;
  -webkit-transition: none;
  transition: none;
}
.admin-logged #footer a:hover, .admin-logged #footer a:focus {
  color: var(--color-secondary);
}
.admin-logged #footer .container {
  background: transparent;
}
.admin-logged #footer .custom-footer {
  background-color: transparent;
  border-style: none;
}
.admin-logged #footer .fb-page {
  display: block;
}
.admin-logged .flags-extra {
  bottom: auto;
  top: 0;
}
.admin-logged .flags-extra .flag-discount {
  border-radius: 0;
  height: auto;
  margin-left: 0;
  width: auto;
  background-color: var(--color-primary);
}
.admin-logged .product-top .p-image-wrapper .flags-extra {
  left: 0;
  right: auto;
}
.admin-logged .product-top .p-image-wrapper .flags-extra .flag {
  min-width: auto;
  min-height: auto;
  padding: 1em 1.5em;
}
.admin-logged .description-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.admin-logged .description-inner .extended-description {
  padding: 20px 20px;
  background: var(--colors-surface-secondary);
  width: 100%;
}
.admin-logged .description-inner .extended-description h3,
.admin-logged .description-inner .extended-description .detail-parameters {
  max-width: 360px;
  margin: auto;
}
.admin-logged .description-inner .extended-description h3 {
  text-align: center;
  padding-bottom: 1em;
}
.admin-logged .description-inner .extended-description .detail-parameters {
  background: white;
  width: 100%;
  padding: 15px 25px;
  border-collapse: separate;
}
.admin-logged .description-inner .extended-description .detail-parameters tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--colors-foregrounds-borders-secondary);
}
.admin-logged .description-inner .extended-description .detail-parameters tr:first-child {
  padding-top: 0;
}
.admin-logged .description-inner .extended-description .detail-parameters tr:last-child {
  border-bottom-style: none;
  padding-bottom: 0;
}
.admin-logged .description-inner .extended-description .detail-parameters tr th,
.admin-logged .description-inner .extended-description .detail-parameters tr td {
  padding: 0;
}

/*carousel*/
body:not(.admin-logged) #carousel .carousel-inner {
  min-height: auto !important;
}
body:not(.admin-logged) #carousel .carousel-inner .item:not(:first-child) {
  display: none;
}
body:not(.admin-logged) #carousel .carousel-control {
  display: none;
}

.admin-logged #carousel .carousel-inner {
  min-height: auto !important;
}
.admin-logged #carousel .carousel-inner .item {
  display: block;
}
.admin-logged #carousel .carousel-inner .item:first-child {
  display: none;
}