:root {
	--color-black-600: #20232b;
	--color-gray-400: #f4f4f4;
	--border-radius-200: 12px;
	--border-radius-400: 50px;
	--gap: clamp(10px, 2vw, 40px);
	--padding-sides: max(1vw, 10px);
	--lh-small: 1.2;
	--header-height: 80px;
	--responsive-130: clamp(4.063rem, 4.316vw + 2.946rem, 8.125rem);
	--responsive-100: clamp(2.063rem, 4.449vw + 0.911rem, 6.25rem);
	--responsive-90: clamp(1.875rem, 3.984vw + 0.844rem, 5.625rem);
	--responsive-85: clamp(1.75rem, 3.785vw + 0.771rem, 5.313rem);
	--responsive-80: clamp(1.625rem, 3.586vw + 0.697rem, 5rem);
	--responsive-75: clamp(1.563rem, 3.32vw + 0.703rem, 4.688rem);
	--responsive-60: clamp(1.25rem, 2.656vw + 0.563rem, 3.75rem);
	--responsive-45: clamp(0.938rem, 1.992vw + 0.422rem, 2.813rem);
	--responsive-40: clamp(0.813rem, 1.793vw + 0.349rem, 2.5rem);
	--responsive-35: clamp(0.75rem, 1.527vw + 0.355rem, 2.188rem);
	--responsive-30: clamp(0.625rem, 1.328vw + 0.281rem, 1.875rem);
	--responsive-50: clamp(1.25rem, 1.992vw + 0.735rem, 3.125rem);
	--responsive-5rem: clamp(2.5rem, 2.656vw + 1.813rem, 5rem);
	--responsive-3rem: clamp(1.75rem, 1.328vw + 1.406rem, 3rem);
	--responsive-2_5rem: clamp(1.625rem, 0.93vw + 1.384rem, 2.5rem);
	--responsive-2rem: clamp(1.25rem, 0.797vw + 1.044rem, 2rem);
	--responsive-1_75rem: clamp(1.25rem, 0.531vw + 1.113rem, 1.75rem);
	--responsive-1_5rem: clamp(1.125rem, 0.398vw + 1.022rem, 1.5rem);
	--responsive-1_25rem: clamp(0.875rem, 0.398vw + 0.772rem, 1.25rem);
	--responsive-1_125rem: clamp(0.938rem, 0.199vw + 0.886rem, 1.125rem);
}
/*zakladni html upravy*/
html {
	font-size: 16px;
	scroll-behavior: smooth;
}
body {
	font-size: 1rem;
	color: var(--color-black-600);
	text-wrap: balance;
	line-height: 1.6;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: var(--header-height);
}
body,
p,
span,
b,
strong,
a,
div,
button {
	color: var(--color-black-600);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: var(--color-primary);
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1.5;
}

/*cst button*/
.cst-button {
	font-size: var(--responsive-1_25rem);
	border-style: solid;
	border-width: 1px;
	border-radius: var(--border-radius-400);
	padding: 0.7em 2em;

	transition: background 0.3s ease-out;
}
.cst-button.white {
	color: white;
	border-color: white;
}
.cst-button.white:hover {
	background: white;
	color: var(--color-black-600);
}
.cst-button.primary {
	color: white;

	background: var(--color-primary);
}
.cst-button.primary:hover {
	background: var(--color-secondary-hover);
	color: white;
}
/*header*/
#header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	background: transparent;
}
.top-navigation-bar,
.header-top {
	display: none;
}
.navigation-wrapper {
	width: 100%;
}
#navigation {
	height: var(--header-height);
}

.navigation-in {
	background: var(--color-secondary-hover);
	backdrop-filter: blur(8px);
	height: 100%;
	width: 100% !important;
	transition: background 0.2s ease;
}
.scrolled .navigation-in {
	background: hsla(129, 80%, 27%, 80%);
}
.menu-level-1 {
	height: 100%;
	justify-content: center !important;
	padding: 0 var(--padding-sides) !important;
}
.menu-level-1 li {
	border-style: none !important;
}
.menu-level-1 li a {
	background: transparent !important;
	position: relative;
	padding: 1em 1.5em !important;
	margin: 0 !important;
}
.menu-level-1 li a::after {
	content: "";
	width: calc(100% - 3em);
	height: 1px;
	background-color: white;
	position: absolute;
	display: block;
	left: 1.5em;
	bottom: 0.6em;
	transform: scale(0);
	transition: transform 0.3s ease-in-out;
	transform-origin: right;
}
.menu-level-1 li a:hover::after {
	transform: scale(1);
	transform-origin: left;
}
.menu-level-1 li a b {
	color: white;
	font-weight: 500 !important;
	font-size: 0.9rem;
}
.navigation-in .logo {
	height: 100%;
	margin-right: 10px;
	position: absolute;
	left: var(--padding-sides);
	top: 0;
	filter: brightness(0) invert(1);
}

.navigation-in .logo:hover {
	transform: scale(1.02);
}
.navigation-in .logo img {
	max-height: 100%;
	padding: 5px 0;
}
/*uprava homepage hlavniho blocku*/
.homepage-box {
	background: none;
	border-style: none;
}
.banner-wrapper {
	margin: 0 !important;
}
.content-wrapper-in > .container {
	max-width: 1920px;
	width: 100%;
	padding: 0 var(--padding-sides);
}

.row {
	margin-left: 0;
	margin-right: 0;
}
.banners-row .col-sm-8 {
	width: 100%;
}
.banners-row .col-sm-8 img {
	border-radius: var(--border-radius-200);
}
.container > .banners-row {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banners-row .col-sm-4 {
	padding: 0;
	width: 100%;
}
.next-to-carousel-banners {
	display: flex;
	flex-direction: column;
}
/*carousel hero*/
#carousel {
	max-height: clamp(200px, 35vw, 670px);
	overflow: hidden;
	border-radius: var(--border-radius-200);
	margin-bottom: var(--responsive-50);
}
#carousel img {
	width: 100%;
}
/*chranena dilna block*/
.chranena-dilna-block {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/Chranena dilna pozadi.webp");
	background-size: cover;
	border-radius: var(--border-radius-200);
}

.chranena-dilna-block {
	margin-top: var(--gap);
	text-align: center;
	padding-top: var(--responsive-90);
	padding-bottom: var(--responsive-130);
}
.chranena-dilna-block h1,
.chranena-dilna-block h2,
.chranena-dilna-block p {
	color: white;
}
.chranena-dilna-block h1 {
	font-weight: 700;
	font-size: var(--responsive-5rem);
	margin: 0;
	padding-bottom: 0.625em;
	margin-bottom: 0.563em;
	position: relative;
}
.chranena-dilna-block h1::after {
	position: absolute;
	content: "";
	display: block;
	width: 5%;
	height: 3px;
	left: 50%;
	bottom: 0;
	transform: translatex(-50%);
	background: white;
}
.chranena-dilna-block h2 {
	font-weight: 600;
	font-size: var(--responsive-2rem);
}
.chranena-dilna-block p {
	font-size: var(--responsive-1_125rem);
	max-width: clamp(600px, 65%, 1400px);
	padding: 0 10px;
	margin: auto;
}
/*Proc s nami spolupracovat*/
.proc-spolupracovat-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: var(--gap);
	margin-top: var(--responsive-100);
	padding: 0 max(5%, 10px);
}
.proc-spolupracovat-tile {
	border-radius: var(--border-radius-200);
	box-shadow: 0 0 30px #dedede;
	padding-top: var(--responsive-50);
	padding-bottom: var(--responsive-75);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.proc-spolupracovat-tile h3 {
	color: var(--color-black-600);
	font-weight: 600;
	font-size: var(--responsive-1_5rem);
	max-width: clamp(150px, 70%, 280px);
	margin: auto;
	text-align: center;
	padding: 0 10px;
	padding-top: var(--responsive-50);
	margin: 0;
}
.proc-spolupracovat-tile.main {
	grid-column: 1/3;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/proc-s-nami-spolupracovat.webp");
	background-size: cover;
	position: relative;
	background-position: 0 40%;
}
.proc-spolupracovat-tile.main::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.68;
	border-radius: var(--border-radius-200);
}
.proc-spolupracovat-tile.main h2 {
	font-weight: 400;
	display: flex;
	flex-direction: column;
	font-size: var(--responsive-3rem);
	z-index: 1;
}
.proc-spolupracovat-tile.main h2 > * {
	color: white;
}
.proc-spolupracovat-tile.main a {
	z-index: 1;
}
.proc-spolupracovat-icon {
	background-color: var(--color-primary);
	width: clamp(4.75rem, 2.656vw + 4.063rem, 7.25rem);
	height: clamp(4.75rem, 2.656vw + 4.063rem, 7.25rem);
	border-radius: 100%;
	filter: drop-shadow(0px 0px 20px hsla(119, 50%, 60%, 50%));
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}
.proc-spolupracovat-block > .side:nth-child(2) .proc-spolupracovat-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/spoluprace_ikona_1.png");
	background-size: 60%;
	background-position: center bottom 55%;
}
.proc-spolupracovat-block > .side:nth-child(3) .proc-spolupracovat-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/spoluprace_ikona_2.png");
	background-size: 45%;
}
.proc-spolupracovat-block > .side:nth-child(4) .proc-spolupracovat-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/spoluprace_ikona_3.png");
	background-size: 50%;
}
.proc-spolupracovat-block > .side:nth-child(5) .proc-spolupracovat-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/spoluprace_ikona_4.png");
	background-size: 50%;
}
/*nase cinnost*/
.nase-cinnosti-block {
	position: relative;
	margin-top: var(--responsive-85);
	padding-bottom: var(--responsive-100);
}
.nase-cinnosti-block::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	left: calc((-100vw + 1920px) / 2 - var(--padding-sides) / 2);
	top: 0;
	background: var(--color-gray-400);
	z-index: -1;
}
@media (max-width: 1920px) {
	.nase-cinnosti-block::before {
		left: calc(var(--padding-sides) / -1);
	}
}
.nase-cinnosti-block h2 {
	text-align: center;
	margin: 0;
	padding-top: var(--responsive-100);
	color: var(--color-black-600);
	font-size: var(--responsive-3rem);
	font-weight: 700;
	padding-bottom: var(--responsive-75);
}
.nase-cinnosti-block h3 {
	margin: 0;
}
.nase-cinnosti-first h3 {
	color: var(--color-primary);
	font-weight: 700;
	font-size: var(--responsive-2rem);
	padding-top: var(--responsive-60);
	padding-bottom: var(--responsive-30);
}
.nase-cinnosti-first {
	display: flex;
	margin: auto;
	padding: 0 3%;
	max-width: clamp(900px, 57%, 1000px);
	border-radius: var(--border-radius-200);
	background: white;
	box-shadow: 0 0 30px #dedede;
	text-align: center;
	flex-direction: column;
}
.nase-cinnosti-first p {
	margin-bottom: var(--responsive-50);
	font-size: var(--responsive-1_125rem);
}
.nase-cinnosti-first .nase-cinnosti-bold {
	font-weight: 600;
	margin-bottom: var(--responsive-40);
}
.nase-cinnosti-grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin-top: var(--gap);
	gap: var(--gap);
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 var(--gap);
}
.nase-cinnosti-tile {
	background: white;
	border-radius: var(--border-radius-200);
	box-shadow: 0 0 30px #dedede;
	padding: var(--responsive-60) var(--responsive-60) var(--responsive-50) var(--responsive-60);
}
.nase-cinnosti-tile > * {
	margin: 0;
}
.nase-cinnosti-tile h4 {
	font-size: var(--responsive-1_75rem);
	color: var(--color-black-600);
	font-weight: 600;
	padding: var(--responsive-40) 0 var(--responsive-35) 0;
	line-height: 1.2;
}
.nase-cinnosti-tile p {
	font-size: var(--responsive-1_125rem);
}
.nase-cinnosti-icon {
	width: 68px;
	height: 68px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
}
.nase-cinnosti-grid > .nase-cinnosti-tile:nth-child(1) .nase-cinnosti-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/naseCinnosti_ikona_1.png");
}
.nase-cinnosti-grid > .nase-cinnosti-tile:nth-child(2) .nase-cinnosti-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/naseCinnosti_ikona_2.png");
}
.nase-cinnosti-grid > .nase-cinnosti-tile:nth-child(3) .nase-cinnosti-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/naseCinnosti_ikona_3.png");
}
.nase-cinnosti-grid > .nase-cinnosti-tile:nth-child(4) .nase-cinnosti-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/naseCinnosti_ikona_4.png");
}
.nase-cinnosti-grid > .nase-cinnosti-tile:nth-child(5) .nase-cinnosti-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/naseCinnosti_ikona_5.png");
}
.nase-cinnosti-grid > .nase-cinnosti-tile:nth-child(6) .nase-cinnosti-icon {
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/naseCinnosti_ikona_6.png");
}
/*spoluprace-block*/
.spoluprace-block {
	padding: 0 max(5%, 10px);
	padding-top: var(--responsive-100);
	padding-bottom: var(--responsive-100);
	position: relative;
}
.spoluprace-block::before {
	content: "";
	display: block;
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: calc((-100vw + 1920px) / 2 - var(--padding-sides) / 2);
	z-index: -1;
	background-image: url("https://625496.myshoptet.com/user/documents/upload/Titulní strana/spoluprace Gradients.webp");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.6;
}
@media (max-width: 1920px) {
	.spoluprace-block::before {
		left: calc(var(--padding-sides) / -1);
	}
}
.spoluprace-images {
	display: flex;
	justify-content: space-between;
}
.spoluprace-image {
	max-width: 31%;
}
.spoluprace-image img {
	border-radius: var(--border-radius-200);
}
.spoluprace-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: var(--responsive-100);
}
.spoluprace-text h3,
.spoluprace-text p {
	margin: 0;
}
.spoluprace-text h3 {
	text-wrap: wrap;
	padding-right: 10%;
	font-weight: 400;
	color: var(--color-black-600);
	font-size: var(--responsive-3rem);
}
.spoluprace-text-right {
	padding-top: 0.8rem;
}
.spoluprace-text-right p {
	font-size: var(--responsive-1_125rem);
	padding-bottom: var(--responsive-45);
	text-wrap: wrap;
}
.spoluprace-text-right .cst-button {
	margin-top: 10px;
}
/*zrizeni dilny*/
.zrizeni-dilny-block {
	text-align: center;
	margin-top: var(--responsive-100);
	padding-bottom: var(--responsive-100);
}
.zrizeni-dilny-block > * {
	margin: 0;
}
.zrizeni-dilny-block h2 {
	font-size: var(--responsive-3rem);
	font-weight: 700;
	padding-bottom: var(--responsive-40);
}
.zrizeni-dilny-block p {
	font-size: var(--responsive-1_125rem);
	padding-bottom: var(--responsive-50);
}
/*reference*/
.referece-block {
	position: relative;
	padding-top: var(--responsive-100);
	padding-bottom: var(--responsive-100);
}
.referece-block::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	left: calc((-100vw + 1920px) / 2 - var(--padding-sides) / 2);
	top: 0;
	background: var(--color-gray-400);
	z-index: -1;
}
@media (max-width: 1920px) {
	.referece-block::before {
		left: calc(var(--padding-sides) / -1);
	}
}
.referece-block h2 {
	font-size: var(--responsive-3rem);
	text-align: center;
	margin: 0;
	font-weight: 700;
	color: var(--color-black-600);
	padding-bottom: var(--responsive-80);
}
.referece-flex {
	display: flex;
	justify-content: space-around;
}
.reference-tile {
	max-width: 25%;
}
/*kontaktni formular*/
.title-kontaktni-formular {
	padding-top: var(--responsive-80);
	padding-bottom: var(--responsive-50);
}
.title-kontaktni-formular h3 {
	margin: 0;
	font-size: var(--responsive-2_5rem);
	font-weight: 600;
	text-align: center;
	padding-bottom: var(--responsive-40);
}
#formContact {
	max-width: 43rem;
	margin: auto;
}
#formContact fieldset {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
#formContact fieldset > .form-group {
	width: 100%;
	color: var(--color-primary);
	font-weight: 500;
}
#formContact fieldset > .form-group:nth-of-type(1),
#formContact fieldset > .form-group:nth-of-type(2) {
	width: calc(50% - 0.5rem);
}
#formContact fieldset > .form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
}

#formContact fieldset > .form-group input,
#formContact fieldset > .form-group textarea {
	width: 100%;
	border-color: var(--color-primary);
	border-radius: 0;
	background: transparent;
	border-radius: var(--border-radius-200);
}
#formContact fieldset > .form-group input:focus,
#formContact fieldset > .form-group textarea:focus {
	border-color: var(--color-secondary-hover);
}
#formContact fieldset > .form-group.consents-first {
	font-size: 0.8em;
	font-weight: 400;
}
#formContact fieldset > .form-group.submit-wrapper {
	margin-top: 0.5rem;
}
#formContact fieldset > .form-group.submit-wrapper input {
	background: var(--color-primary);
	color: white;
	display: inline-block;
	font-size: 1rem;
	max-width: 16em;
	border-style: solid;
	border-width: 1px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.8em 1.5em 0.7em;

	transition: all 0.2s;
	margin: auto;
}
#formContact fieldset > .form-group.submit-wrapper input:hover {
	color: white;
	background: var(--color-secondary-hover);
	border-color: var(--color-secondary-hover);
}
#formContact .consents label,
#formContact .consents a {
	color: var(--color-black-600);
}
.form-group label {
	width: auto;
}

#footer,
#footer > .container {
	background: transparent;
}
#footer {
	position: relative;
}
#footer::before {
	content: "";
	display: block;
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: var(--color-secondary-hover);
	opacity: 0.05;
}
@media (max-width: 1920px) {
	#footer::before {
		left: calc(var(--padding-sides) / -1);
	}
}

footer .banner {
	margin: 0;
	display: grid;
}
#footer .site-name {
	display: none;
}
#footer .custom-footer {
	padding: 0;
	margin: 0;
	border-style: none;
}
.custom-footer > div {
	padding: 0;
	width: 100%;
}
.footer-mesta {
	max-width: 80%;
	padding: 0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	margin-top: var(--responsive-50);
	gap: calc(var(--gap) * 2);
	border-style: none;
}
.footer-mesto {
	display: flex;
	flex-direction: column;
	background: white;
	padding: var(--responsive-40) var(--responsive-30) 10px var(--responsive-30);
	box-shadow: 0 0 30px #dedede;
	border-radius: var(--border-radius-200);
	margin-bottom: var(--responsive-60);
}
.footer-mesto h4 {
	font-weight: 700;
	font-size: var(--responsive-1_5rem);
}
.footer-mesto p {
	margin: 0;
	padding-bottom: 0.5em;
	font-size: 0.875rem;
}
.footer-mesto a::after {
	content: "";
	width: calc(100% - 5px);
	height: 1px;
	background-color: var(--color-primary);
	position: absolute;
	display: block;
	left: 5px;
	bottom: -1px;
	transform: scale(0);
	transition: transform 0.4s ease-in-out;
	transform-origin: right;
}
.footer-mesto a:hover::after {
	transform: scale(1);
	transform-origin: left;
}
.kontakt-mapa {
	margin-top: auto;
}
.gmap_canvas iframe {
	border-radius: var(--border-radius-200);
}

#footer .footer-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;

	color: var(--color-primary);
	font-size: 0.8rem;
	align-items: flex-end;
}

#signature {
	flex: auto;
	text-align: right;
	margin: 0;
}
#signature a {
	color: var(--color-primary);
}

@media (max-width: 1200px) {
	.proc-spolupracovat-block {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.nase-cinnosti-first {
		max-width: 100%;
		margin-left: var(--gap);
		margin-right: var(--gap);
	}
	.nase-cinnosti-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
	.spoluprace-image {
		max-width: 33.3%;
		margin: 0 calc(var(--gap) / 2);
	}
	.footer-mesta {
		display: flex;
		flex-direction: column;
	}
	.footer-mesto {
		margin-bottom: 0;
	}
	.navigation-in > ul > li > a {
		padding: 0.5em 0.75em !important;
	}
}
@media (max-width: 767px) {
	.banners-row .col-sm-8 {
		padding: 0;
	}
	.proc-spolupracovat-tile.main {
		flex-direction: column;
		text-align: center;
	}
	.proc-spolupracovat-block {
		grid-template-rows: auto;
		padding: var(--padding-sides);
	}
	.nase-cinnosti-grid {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-left: var(--gap);
	}
	.nase-cinnosti-tile {
		min-width: 60vw;
		box-shadow: 0 0 7px #dedede;
	}
	.spoluprace-block {
		padding: var(--gap);
	}

	.spoluprace-text {
		display: flex;
		flex-direction: column;
	}
	.spoluprace-text-right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#footer .container.footer-bottom {
		align-items: center;
	}
	.overall-wrapper {
		padding-top: 0 !important;
	}
	#navigation {
		height: var(--header-height);
		width: 100%;
	}
	.menu-helper {
		top: 20px;
		width: 32px;
		left: auto;
		right: 30px;
		z-index: 1000;
		visibility: visible;
		position: fixed;
		display: block;
	}
	.menu-helper:after,
	.menu-trigger:after {
		background: none;
	}
	.navigation-close {
		display: none;
	}
}
