:root {
	--number-of-items: 3;
	--next-item-preview: 100px;
}
#carousel {
	position: relative;
	padding-top: 22px;
	user-select: none;
	display: block;
	.carousel-inner {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		--gap: 10px;
		gap: var(--gap);
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
		min-height: auto !important;
		.item {
			display: block;
			position: relative;
			color: black;
			text-wrap: pretty;
			width: calc(
				100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items) -
					var(--next-item-preview) / var(--number-of-items)
			);
			flex-shrink: 0;
			scroll-snap-align: start;
			flex-basis: auto;
			a {
				background: linear-gradient(to bottom, white, #f9f9f9);
				position: relative;
				color: inherit;
				text-decoration: none;
				display: block;
				border-radius: 20px;
				overflow: hidden;
			}
			.extended-banner-texts {
				padding: 20px 10px 20px 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 30px 10px 30px 33px;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				color: inherit;
				right: auto;
				top: auto;
			}
			.extended-banner-title {
				display: block;
				padding: 0;
				position: initial;
				font-size: 20px;
				font-weight: 700;
				line-height: 1.4;
				padding-bottom: 0.375em;
			}
			.extended-banner-text {
				position: initial;
				padding: 0;
				font-size: 16px;
				padding-bottom: 1em;
			}
			.extended-banner-link {
				position: initial;
				inset: 0;
				margin: 0;
				font-size: 18px;
				color: white;
				font-size: 13px;
				font-weight: 700;
				line-height: 1;
				border-radius: 12px;
				background-color: var(--color-primary);
				padding: 1.077em 1.538em;
				z-index: 1;
				&:hover {
					background-color: var(--color-secondary-hover);
				}
			}
		}
	}
	.carousel-control.left {
		left: -15px;
	}
	.carousel-control.right {
		right: -15px;
	}
}
