:root {
	--number-of-items: 4;
	--next-item-preview: 80px;
}

#carousel {
	position: relative;
	padding-top: 22px;

	user-select: none;
	display: block;
	.carousel-inner {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		--gap: 10px;
		gap: var(--gap);
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
		min-height: auto !important;
		&::-webkit-scrollbar {
			display: none;
		}
		&.grabbing {
			cursor: grabbing !important;
			a {
				cursor: grabbing !important;
			}
		}
		.item {
			display: block;
			position: relative;
			color: black;
			text-wrap: pretty;
			width: calc(
				100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) /
					var(--number-of-items) - var(--next-item-preview) / var(--number-of-items)
			);

			flex-shrink: 0;
			scroll-snap-align: start;

			flex-basis: auto;
			a {
				background: linear-gradient(to bottom, white, #f9f9f9);
				position: relative;
				color: inherit;
				text-decoration: none;
				display: block;
				border-radius: 20px;
				overflow: hidden;
			}
			.extended-banner-texts {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 30px 20px 30px 33px;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				color: inherit;
				right: auto;
				top: auto;
			}
			.extended-banner-title {
				display: flex;
				flex-direction: column;
				padding: 0;
				position: initial;
				font-size: 26px;
				font-weight: 700;
				line-height: 1.2;
				padding-bottom: 0.375em;
				> span:nth-child(2) {
					color: var(--color-primary);
				}
			}
			.extended-banner-text {
				position: initial;
				padding: 0;
				font-size: 16px;
				line-height: 1.2;
				padding-bottom: 1em;
			}
			.extended-banner-link {
				position: initial;
				inset: 0;
				margin: 0;
				font-size: 16px;
				color: white;
				font-weight: 700;
				line-height: 1;
				border-radius: 12px;
				background-color: var(--color-primary);
				padding: 0.75em 1.5em !important;
				z-index: 1;
				> span:nth-child(1) {
					color: black;
				}
				&:hover {
					background-color: var(--color-secondary-hover);
				}
				&:before {
					display: none !important;
				}
			}
			a,
			img {
				-webkit-user-drag: none;

				user-select: none;
			}
			img {
				transition: transform 0.3s ease;
			}
			&:hover {
				img {
					transform: scale(1.025);
				}
			}
		}
	}
	.carousel-control.left {
		left: -15px;
	}
	.carousel-control.right {
		right: -15px;
	}
	.carousel-control.hidden-control {
		display: none !important;
	}
}

.product-slider-navigation,
.carousel-control {
	border-radius: 30%;
}

@media screen and (max-width: 1439px) {
	:root {
		--number-of-items: 3;
	}
}
@media screen and (max-width: 991px) {
	:root {
		--number-of-items: 2;
		--next-item-preview: 80px;
	}
	.extended-banner-texts {
		padding: 30px 15px 24px 24px !important;
	}
	.extended-banner-title {
		font-size: 24px !important;
	}
	.extended-banner-text {
		font-size: 14px !important;
	}
	.extended-banner-link {
		font-size: 14px !important;
	}
}
@media screen and (max-width: 740px) {
	:root {
		--number-of-items: 2;
		--next-item-preview: 40px;
	}
}
@media screen and (max-width: 650px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 240px;
	}
}
@media screen and (max-width: 570px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 150px;
	}
}
@media screen and (max-width: 500px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 100px;
	}
}
@media screen and (max-width: 440px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 80px;
	}
}

@media screen and (max-width: 767px) {
	#carousel {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 767px) {
	.vyhody,
	.benefitBanner {
		display: flex !important;
		flex-wrap: nowrap !important;
		overflow-x: auto;
		padding-bottom: 6px !important;
		> * {
			flex: 0 0 50%;
			--width: 65vw;
			flex-basis: var(--width) !important;
			width: var(--width) !important;
			max-width: 400px !important;
		}
	}
}

/*Header*/
#header .search input {
	border-radius: 12px;
}

@media screen and (min-width: 991px) {
	#header .header-top-wrapper > div.search {
		flex: 0 1 40%;
	}
	#header .header-top-wrapper > div.navigation-buttons {
		flex: 0 1 40%;
	}
	#header .navigation-buttons .tel a {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		--content-width: 56px;
		padding-left: calc(var(--content-width) + 10px);
		margin-bottom: auto;
		&::before {
			content: "";
			display: block;
			width: var(--content-width);
			height: var(--content-width);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translatey(-50%);
			background: url("https://www.ohhira.cz/user/documents/upload/header/header_kontakt_foto.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		&::after {
			position: relative;
			inset: 0;
		}
	}
}
@media screen and (min-width: 1440px) {
	#header .header-top-wrapper > div.search {
		flex: 0 1 27%;
	}
	#header .header-top-wrapper > div.navigation-buttons {
		flex: 0 1 53%;
	}
	.navigation-buttons {
		* {
			order: 99;
		}
		.header-reviews {
			order: 5;
		}
		.tel {
			order: 10;
			margin-right: 20px;
		}
		a.btn {
			order: 20;
		}
	}
	.header-reviews {
		&.visible {
			display: grid !important;
			grid-template-columns: 55px 55px 115px;
			grid-template-rows: auto;
			align-items: center;
			column-gap: 0px;
		}
		.header-checkmark-icon {
			grid-column: 1;
			grid-row: 1/3;
			margin-right: 10px;
		}
		.header-reviews-percentage {
			grid-column: 2;
			grid-row: 1;
			font-size: 20px;
			font-weight: 700;
			color: var(--color-primary);
			margin-right: 5px;
			line-height: 1;
		}
		.header-stars {
			grid-column: 3;
			grid-row: 1;
			position: relative;
			top: -2px;
		}
		.header-reviews-text {
			grid-column: 2/-1;
			grid-row: 2;
			font-size: 16px;
			color: #252729;
		}
	}
}
