:root {
	--number-of-items: 4;
	--next-item-preview: 80px;
}

#carousel {
	position: relative;
	padding-top: 22px;

	user-select: none;
	display: block;
	.carousel-inner {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		--gap: 10px;
		gap: var(--gap);
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
		min-height: auto !important;
		&::-webkit-scrollbar {
			display: none;
		}
		&.grabbing {
			cursor: grabbing !important;
			a {
				cursor: grabbing !important;
			}
		}
		.item {
			display: block;
			position: relative;
			color: black;
			text-wrap: pretty;
			width: calc(
				100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items) -
					var(--next-item-preview) / var(--number-of-items)
			);

			flex-shrink: 0;
			scroll-snap-align: start;

			flex-basis: auto;
			a {
				background: linear-gradient(to bottom, white, #f9f9f9);
				position: relative;
				color: inherit;
				text-decoration: none;
				display: block;
				border-radius: 20px;
				overflow: hidden;
			}
			.extended-banner-texts {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 30px 20px 30px 33px;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				color: inherit;
				right: auto;
				top: auto;
			}
			.extended-banner-title {
				display: flex;
				flex-direction: column;
				padding: 0;
				position: initial;
				font-size: 26px;
				font-weight: 700;
				line-height: 1.2;
				padding-bottom: 0.375em;
				> span:nth-child(2) {
					color: var(--color-primary);
				}
			}
			.extended-banner-text {
				position: initial;
				padding: 0;
				font-size: 16px;
				line-height: 1.2;
				padding-bottom: 1em;
			}
			.extended-banner-link {
				position: initial;
				inset: 0;
				margin: 0;
				font-size: 16px;
				color: white;
				font-weight: 700;
				line-height: 1;
				border-radius: 12px;
				background-color: var(--color-primary);
				padding: 0.75em 1.5em !important;
				z-index: 1;
				> span:nth-child(1) {
					color: black;
				}
				&:hover {
					background-color: var(--color-secondary-hover);
				}
				&:before {
					display: none !important;
				}
			}
			a,
			img {
				-webkit-user-drag: none;

				user-select: none;
			}
			img {
				transition: transform 0.3s ease;
			}
			&:hover {
				img {
					transform: scale(1.025);
				}
			}
		}
	}
	.carousel-control.left {
		left: -15px;
	}
	.carousel-control.right {
		right: -15px;
	}
}

@media screen and (max-width: 1439px) {
	:root {
		--number-of-items: 3;
	}
}
@media screen and (max-width: 991px) {
	:root {
		--number-of-items: 2;
		--next-item-preview: 80px;
	}
	.extended-banner-texts {
		padding: 30px 15px 24px 24px;
	}
	.extended-banner-title {
		font-size: 24px;
	}
	.extended-banner-text {
		font-size: 14px;
	}
	.extended-banner-link {
		font-size: 14px;
	}
}
@media screen and (max-width: 740px) {
	:root {
		--number-of-items: 2;
		--next-item-preview: 40px;
	}
	.extended-banner-texts {
		padding: 30px 20px 30px 33px;
	}
}
@media screen and (max-width: 650px) {
	:root {
		--number-of-items: 1;
		--next-item-preview: 240px;
	}
}

@media screen and (max-width: 767px) {
	#carousel {
		margin-left: 10px;
		margin-right: 10px;
	}
}
