.cart-content.summary-wrapper .discount-coupon form {
	align-items: center;
	display: flex;
	margin-bottom: 16px;
	flex-wrap: nowrap;
	flex-direction: row;

	i {
		font-size: 40px;
		line-height: 40px;
		margin-right: 15px;
		min-width: 48px;
		text-align: center;
		color: var(--color-primary-hover);
	}
	input#discountCouponCode {
		height: 40px;
		display: block;
		margin: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right-style: none;
	}
	button {
		height: 40px;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}
