/*customer page sidebar*/
.customer-page .sidebar-inner .box > ul {
	position: relative;
	padding-bottom: 2em;
}
.customer-page .sidebar-inner .box > ul a.btn.btn-primary {
	position: relative;
}
.customer-page .sidebar-inner li a:after {
	display: none;
}
.customer-page .sidebar-inner .logout {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto !important;
	padding: 0 !important;
	margin: 0 !important;
}
.customer-page .sidebar-inner .logout a {
	font-size: 1em;
	padding-right: 1.25em !important;
}
.customer-page .sidebar-inner .logout a::after {
	display: block;
	margin-top: 0;
	right: 0;
	top: calc(50% + 0.05em);
}
/*upsell po vložení do košíku - modal*/
@media (max-width: 900px) {
	#cboxContent .products-block .product .prices {
		position: relative;
		bottom: 0;
		left: 0;
	}
	#cboxContent .products-block .product .p .name {
		line-height: 1.5;
	}
}

/*Contact hours v kosiku*/
.contact-hours {
	padding-top: 20px;
}
.contact-hours h4 {
	margin-bottom: 0.25em !important;
	color: var(--color-secondary);
	text-transform: none !important;
}
.contact-hours p {
	margin-bottom: 10px !important;
	color: var(--color-secondary);
}
.custom-facebook-margin {
	margin-top: 30px;
}
/*fix hodnoceni na homepage*/
.ajaxWraper {
	overflow: hidden;
}

/*skrytí podbarvení ikon v headeru*/
.icon-cart:after,
.icon-login:after,
.icon-search:after {
	display: none;
}

/*zapnutí dostupnosti v kategorii*/
.products-block .product .availability {
	display: block;
	font-size: 11px;
}
/*fix prekryvani textu po yobrayeni dostupnosti*/
@media (max-width: 900px) {
	.products-block > div .p .p-in .p-bottom > div .p-desc {
		margin-bottom: 80px;
	}
}

/*Carousel max width*/
#carousel {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	#carousel {
		width: 739px;
	}
}
@media (min-width: 992px) {
	#carousel {
		width: 964px;
	}
}
@media (min-width: 1200px) {
	#carousel {
		width: 1170px;
	}
}
@media (min-width: 1440px) {
	#carousel {
		width: 1712px;
	}
}

/*připravené úpravy pro zobrazení množství do košíku na HP a kategorie*/
/*
.admin-logged .products-block .product button.btn.btn-cart.add-to-cart-button {
    position: relative;
    right: 0;
    bottom: 0;
}
.admin-logged .products-block form {
    position: absolute;
    right: 7px;
    bottom: 10px;
    width: auto!important;
    max-height: 35px;
}
.admin-logged .quantity {
    margin-right: 5px;
}

.admin-logged .products-block .quantity {
    display: inline-block;
}

.admin-logged .products-block .quantity,
.admin-logged .products-block .quantity .decrease,
.admin-logged .products-block .quantity .increase {
    border-color: #b7b7b7;
    background-color: rgba(0, 0, 0, 0);
    color: #757575;
    height: 35px;
}
.admin-logged .products-block .quantity .decrease,
.admin-logged .products-block .quantity .increase {
    height: 33px;
}
.admin-logged .products-block .quantity input {
    height: 35px;
    width: 50px;
    font-family: inherit;
    font-size: 12px;
}
*/

/*NEW FAQ na homepage*/
.faq-new {
	max-width: 800px;
	margin: 80px auto auto;
}
.faq-new h3 {
	text-align: center;
	font-family: "Champ-Black";
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 1.2;
}

.faq-new .faq-wrapper {
	padding-top: 20px;
}
.faq-new .faq-content {
	border-bottom-style: solid;
	border-width: 1px;
}
.faq-new .faq-question {
	padding: 18px 36px 18px 18px;
	position: relative;
	cursor: pointer;
}
.faq-new .faq-question::after {
	position: absolute;
	right: 18px;
	top: calc(50% + 2px);
	transform: translateY(-50%) rotate(0deg);
	content: "";
	height: 14px;
	width: 14px;
	speak: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: shoptet;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 0;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-size: 12px;
	transition: transform 0.2s ease-in-out;
}
.faq-new .faq-content.active .faq-question::after {
	transform: translateY(-50%) rotate(180deg);
}
.faq-new .faq-question p {
	margin: 0;
}
.faq-new .faq-answer {
	padding: 18px;
	background: #f2f4f7;
}
.faq-new .faq-answer > *:last-child {
	margin-bottom: 0;
}
