.admin-logged .product-top .discount-side .default-variant {
  visibility: hidden;
}
.admin-logged.type-product .product-top .custom-variants .variant-text {
  background: var(--varianta-gramaz-pozadi);
  color: var(--varianta-gramaz-barva);
  font-size: var(--varianta-gramaz-velikost);
}
.admin-logged.type-product .product-top .custom-variants .variant {
  background: var(--varianta-cena-pozadi) !important;
}
.admin-logged.type-product .product-top .custom-variants .variant.active {
  border: 1px solid var(--varianta-vybrana-barva) !important;
  -webkit-box-shadow: 0 0 2px var(--varianta-vybrana-barva) !important;
          box-shadow: 0 0 2px var(--varianta-vybrana-barva) !important;
}
.admin-logged.type-product .product-top .custom-variants .variant.active .variant-price {
  color: var(--varianta-vybrana-barva);
}
.admin-logged.type-product .product-top .custom-variants .variant-price {
  color: var(--varianta-cena-barva);
  font-size: var(--varianta-cena-velikost);
}
.admin-logged.type-product .product-top .custom-variants .price-per-kg {
  color: var(--varianta-cena-za-kg-barva);
  font-size: var(--varianta-cena-za-kg-velikost);
}
.admin-logged.type-product .vacuum-questionmark {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  cursor: pointer;
}
.admin-logged.type-product .vacuum-questionmark:after {
  position: absolute;
  content: "?";
  font-weight: 700;
  background: #ffc702;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  right: -1.75em;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.admin-logged.type-product .vacuum-explanation {
  padding-top: 20px;
}
.admin-logged.type-product .vacuum-explanation .vacuum-title {
  font-size: 2.8em !important;
  line-height: 1.2;
}
.admin-logged.type-product .vacuum-explanation .vacuum-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.admin-logged.type-product .vacuum-explanation .vacuum-description .vacuum-description-image {
  width: 350px;
  max-width: 100%;
}
@media screen and (max-width: 981px) {
  .admin-logged.type-product .vacuum-explanation .vacuum-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.admin-logged.type-product .scroll-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: black;
  background: transparent;
}
.admin-logged.type-product .scroll-to-top:hover {
  background: #000;
  color: white;
}

:root {
  --varianta-gramaz-pozadi: #000000;
  --varianta-gramaz-barva: #ffffff;
  --varianta-gramaz-velikost: 13px;
  --varianta-cena-pozadi: #ffffff;
  --varianta-cena-barva: #000000;
  --varianta-cena-velikost: 13px;
  --varianta-cena-za-kg-barva: #666666;
  --varianta-cena-za-kg-velikost: 13px;
  --varianta-vybrana-barva: #22a000;
}