.flex-block-tapety {
	justify-content: center;
}
#header .header-top {
	padding: 0;
	margin: 2rem 0;
}
.carousel-wrapper .banners-row::before,
.carousel-wrapper .banners-row::after {
	display: none;
}
.muj-pribeh {
	display: grid;
	grid-template-columns: 45% 45%;
	--gap: clamp(20px, 10%, 100px);
	gap: var(--gap);
	padding: 40px 0 45px;
	overflow: hidden;
}
.muj-pribeh * {
	color: var(--color-n500);
}
.muj-pribeh > * {
	grid-row: 1;
}
.pribeh-image {
	grid-column: 1;
}
.pribeh-content {
	grid-template-rows: 1fr 2.5fr;
	grid-column: 1/3;
	display: grid;
	grid-template-columns: 45% 45%;
	gap: var(--gap);
	row-gap: clamp(20px, 10%, 40px);
	justify-items: end;
	position: relative;
	align-items: center;
}
.pribeh-content::after {
	content: "";
	width: 8%;
	height: 15px;
	background: var(--color-n500);
	position: absolute;
	bottom: 8px;
	right: 1%;
}
.pribeh-content > h1 {
	grid-row: 1;
	grid-column: 1/3;
	filter: drop-shadow(1px 1px 3px hsla(0, 0%, 50%, 10%));
	font-size: clamp(4rem, 2rem + 7vw, 16rem);
	font-weight: 600;
	margin: 0 !important;
	padding: 0 3% 0 0 !important;
}
.pribeh-content > div:nth-child(2) {
	grid-row: 2;
	grid-column: 2;
	margin-bottom: auto;
}
.pribeh-content > div:nth-child(3) {
	grid-row: 2;
	grid-column: 1;
	margin-top: auto;
	position: relative;
	top: 2.5em;
}
.pribeh-content .pribeh-icons {
	display: flex;
	column-gap: 20px;
}
.pribeh-content .pribeh-icons a {
	display: flex;
	height: 2em;
	width: 2empx;
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
}
.pribeh-content .pribeh-icons a:hover {
	transform: scale(1.1);
}
@media (max-width: 992px) {
	.muj-pribeh {
		display: flex;
		flex-direction: column;
		column-gap: 20px;
	}
	.pribeh-content {
		display: flex;
		flex-direction: column;
	}
	.pribeh-content h1 {
		padding: 0;
	}
	.pribeh-content::after {
		display: none;
	}
	.pribeh-content .pribeh-icons:nth-child(3) {
		top: 0;
	}
	.pribeh-content .pribeh-iconsr:nth-child(3) > span a {
		width: 3em;
		height: 3em;
	}
}
.in-clanky-2 .content-inner header {
	display: none;
}
.in-clanky-2 .content-inner h1 {
	font-weight: 600 !important;
}
.kde-se-o-nas-pise table td {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(7, 1fr);
	gap: clamp(25px, 2vw, 60px);
}
.kde-se-o-nas-pise table td > * {
	max-width: 140px;
	width: 100%;
	margin: auto;
}
.kde-se-o-nas-pise .text {
	color: var(--color-n500);
	font-size: 2rem;
	font-weight: 600;
	padding: 1em 0 2em;
}
.kde-se-o-nas-pise .text a {
	color: var(--color-secondary);
	text-decoration: underline;
}
.tapety-cards {
	margin-top: 60px;
	margin-bottom: 120px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: clamp(10px, 2vw, 60px);
	row-gap: 40px;
	text-align: center;
}
.tapety-cards > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 5%);
	padding: 10px 10px 25px;
	border-radius: 0px;
	gap: 10px;
	justify-content: flex-start;
}
.tapety-cards p {
	margin: 0;
}
.tapety-cards img {
	border-radius: 0px;
	height: 100%;
	width: 100%;
}
.tapety-cards .card-cist-dale {
	margin-top: auto;
	line-height: 2.3;
}
.tapety-cards .card-text {
	text-align: left;
}
.tapety-cards a {
	margin-bottom: 20px;
	border: solid 2px var(--color-secondary);
	border-radius: 8px;
	padding: 0.5em 1.5em;
	transition: all 0.1s ease-out;
}
.tapety-cards a:hover {
	background: var(--color-secondary);
	color: white;
}
@media (max-width: 1400px) {
	.kde-se-o-nas-pise table td {
		grid-template-columns: repeat(4, 1fr);
	}
	.tapety-cards {
		grid-template-columns: 1fr 1fr;
		gap: clamp(10px, 2vw, 60px);
	}
}
@media (max-width: 768px) {
	.kde-se-o-nas-pise table td {
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
	}
	.tapety-cards {
		grid-template-columns: 1fr;
		gap: 40px;
	}
	.custom-title h1 span {
		font-size: 4rem !important;
	}
	.custom-title {
		padding: 0 10px;
	}
	.custom-title p {
		line-height: 1.5;
	}
	.custom-title p span {
		font-size: 16px !important;
	}
}
/*KONTAKT*/
.in-muj-pribeh .content-inner header,
.in-muj-pribeh .breadcrumbs,
.in-kontakty .content-inner header,
.in-kontakty .breadcrumbs {
	display: none;
}
.kontakt-grid {
	display: grid;
	grid-template-columns: 45% 45%;
	gap: 10%;
	row-gap: 10px;
	margin: 60px auto;
	padding-bottom: 60px;
	max-width: 1200px;
	align-items: center;
	align-content: center;
}
.kontakt-detail {
	display: grid;
	grid-template-columns: 25% 65%;
	grid-template-rows: max-content 1fr;
	align-items: center;
	gap: 10px;
}
.kontakt-grid h1,
.kontakt-grid h2 {
	font-weight: 600;
	margin: 0;
	padding: 0 0 0.7em;
}
.kontakt-info {
	grid-column: 2;
	margin-bottom: auto;
}
.kontakt-info p {
	margin: 0;
	padding-bottom: 0.3em;
	font-size: 0.8em;
}
.kontat-side-text h3 {
	margin-top: 0;
}

@media (max-width: 992px) {
	.kontakt-grid {
		grid-template-columns: 1fr;
		padding-bottom: 0;
		margin-bottom: 40px;
	}
	.kontakt-detail > img {
		display: none;
	}
	.kontakt-detail {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 20px;
	}
	.kontakt-info p {
		font-size: 1em;
		padding-bottom: 0.5em;
	}
}
/*DETAIL PRODUKTU*/
.p-detail .social-buttons-wrapper {
	display: none !important;
}

/*footer*/
#footer h4 {
	font-weight: 600;
}
.custom-footer__categories h4::after {
	background-color: #fff;
	border-color: #fff;
}
.custom-footer__categories h4::after {
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	content: "";
	display: block;
	margin: 16px 0;
	width: 40px;
}
.custom-footer__categories .topic a {
	padding: 0 0 5px;
}
#footer a,
#footer li span {
	color: var(--color-tertiary-hover);
}
#footer li a,
.custom-footer__categories a {
	transition: all 0.2s ease-out;
}

#footer .categories .topic.active > a {
	background: transparent;
}
#footer li a:hover,
.custom-footer__categories a:hover {
	color: white !important;
	background: transparent;
}

.custom-footer__banner25 {
	display: flex;
	align-items: center;
	padding-right: 60px;
}

.custom-footer__onlinePayments .text-center {
	text-align: left;
}

@media (min-width: 1200px) {
	.footer-rows .custom-footer > div {
		flex-basis: 20%;
		width: 20%;
	}
}

/*Title*/
.custom-title {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: clamp(20px, 4vw, 80px);
	justify-items: center;
	align-items: center;
}
.custom-title h1 {
	font-weight: 600;
}
.welcome > h1 {
	display: none !important;
}

@media (max-width: 1200px) {
	.custom-title {
		display: grid;
		grid-template-columns: 1fr;
		gap: clamp(20px, 4vw, 80px);
	}
}
/*Welcome*/
.welcome-wrapper {
	background: #f7f7f7;
	margin-bottom: 40px;
}
.welcome-wrapper .welcome {
	max-width: 1440px;
}
.welcome-wrapper .welcome a {
	color: var(--color-secondary);
	font-weight: 600;
}
/*carousel*/
.carousel-inner {
	min-height: auto !important;
}
.custom-carousel {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: black;
	text-align: justify;
	align-items: center;
	padding: 160px 0 160px;
}
.custom-carousel .bg-image {
	position: absolute;
	z-index: -1;
	overflow: hidden;
	top: 0;
	left: 0;
}
.custom-carousel .bg-image img {
	min-width: 100vw;
	max-width: none;
	min-height: 100%;
	flex: 1;
}
.custom-carousel .carousel-logo {
	width: clamp(600px, 70vw, 1200px);
	margin: 0 auto 10px;
}
.custom-carousel h2,
.custom-carousel p {
	width: clamp(600px, 70vw - 40px, 1200px - 40px);
	padding: 0 40px;
}
.custom-carousel h2,
.custom-carousel-new h2 {
	font-size: clamp(3rem, 2.0789rem + 3.6842vw, 6.5rem);
	text-align: left;
	line-height: 1;
	color: inherit;
	font-weight: 200;
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
.custom-carousel p,
.custom-carousel-new p {
	font-size: clamp(1.5rem, 1.2368rem + 1.0526vw, 2.5rem);
	line-height: 1.35;
	font-weight: 400;
}
.custom-carousel-new {
	color: black;
	text-align: justify;
	padding: 0 20px;
}
.carousel-div {
	max-width: 1712px;
	margin: auto;
	margin-top: 10px;
}

@media (max-width: 767px) {
	.custom-carousel {
		padding: 100px 0 80px;
	}
	.custom-carousel .carousel-logo {
		width: 80%;
		margin: auto;
	}

	.custom-carousel h2,
	.custom-carousel p {
		width: 100%;
		padding: 0 20px;
	}
}

/*uprava produktů*/
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: clamp(10px, 2vw, 60px);
	row-gap: 40px;
	max-width: calc(100vw - 20px);
	margin: auto;
}
@media (min-width: 1440px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
.products.products-block .product {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 5%);
	padding: 10px 10px 25px;
	border-radius: 0;
	gap: 10px;
	justify-content: flex-start;
}
.products .product .image::before {
	display: none;
}
.products .product .p-in {
	padding-top: 1em !important;
}
.products .product .name {
	height: auto !important;
	text-align: left;
}
.products .product .p-bottom > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.products .product .p-bottom .p-desc {
	order: 1;
	text-align: left;
	padding-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	letter-spacing: 0.4px;
	overflow: hidden;
}
.products .product .p-bottom .prices {
	order: 2;
	text-align: left;
	justify-content: flex-start !important;
	padding: 0 !important;
	width: 51%;
}
.products .product .p-bottom .prices strong {
	font-weight: 600 !important;
}
.products .product .p-bottom .availability {
	text-align: left;
	font-size: 14px;
	order: 3;
	width: 51%;
}
.products .product .p-bottom .ratings-wrapper {
	text-align: left;
	font-size: 14px;
	order: 4;
	width: 50%;
	padding: 0 !important;
}
.products .product .star-list {
	justify-content: flex-start !important;
}
.products .product .star-list .star {
	height: 12px;
	width: 12px;
	margin: 0 2px !important;
}
.products .product .star-list .star::before {
	font-size: 12px;
}
.products .product .p-bottom .p-tools {
	padding: 0 !important;
	order: 5;
	width: 50%;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
.products .product .p-bottom .p-tools a {
	margin: 0;
}

.products.product-slider .product {
	padding: 10px;
}
.products.product-slider .product .p {
	box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 7%);
	padding: 10px 10px 25px;
}
.search-results > .products-block:not(:first-of-type) {
	margin-top: 40px !important;
}

@media (max-width: 992px) {
	.products {
		grid-template-columns: 1fr 1fr;
		row-gap: 25px;
	}
	.products .product .p-bottom .prices {
		width: 100%;
	}
	.products .product .p-bottom .availability {
		width: 100%;
	}
	.products .product .p-bottom .ratings-wrapper {
		width: 100%;
	}
	.products .product .p-bottom .p-tools {
		width: 100%;
		padding: 0 !important;
		text-align: center;
		position: relative;
		margin-top: 10px;
	}
	.products .product .p-bottom .p-tools a {
		width: 100%;
	}
}
/*konec upravy produktů*/

/*kategorie*/
.category-header,
.filters-wrapper {
	display: none;
}
/*kategorie*/

/*zvetseni obr v produktove karte*/
@media (min-width: 992px) {
	.wide .p-detail-inner .p-image-wrapper {
		padding-right: 40px;
		width: 60%;
	}
	.wide .p-detail-inner .p-data-wrapper {
		width: 40%;
	}
}
/*zvetseni obr v produktove karte*/

/*popup kosik*/
.user-action-in .popup-widget {
	top: 80px;
}
.admin-logged .user-action-in .popup-widget {
	top: 90px;
}
@media (min-width: 992px) {
	.user-action-in .popup-widget {
		top: 100px;
		width: 550px;
	}
	.admin-logged .user-action-in .popup-widget {
		top: 110px;
	}
}
.cart-widget-product-image,
.cart-widget-product-image a {
	width: 100px;
	height: 100px;
}
@media (max-width: 480px) {
	.cart-widget-product-name-and-price {
		width: calc(100% - 100px) !important;
	}
}
/*popup kosik*/
