:root {
  --lh-1-4: 1.5;
}

.admin-logged .products-block .product {
  position: relative;
}
.admin-logged .products-block .product .p .image {
  border-radius: 12px;
  overflow: hidden;
  /* 	.flags-default {
  				@include flags-default-in-product-image;
  			}
  			.flags-extra {
  				@include flags-extra-in-product-image;
  			}
  */
}
.admin-logged .products-block .product .p .image img {
  width: 100%;
  height: auto;
}
.admin-logged .products-block .product .p .image .flag-action {
  display: none !important;
}
.admin-logged .products-block .product .p .image .flag-freeshipping {
  display: none !important;
}
.admin-logged .products-block .product .p .image .price-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.admin-logged .products-block .product .p-in {
  line-height: var(--lh-1-4);
  font-size: 12px;
  margin-top: calc(var(--add-to-cart-button-height) * -1);
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: 1fr;
  row-gap: 8px;
  --padding-capsules-vertical: 2px;
  /* 	--add-to-cart-button-height: calc(2.4615em + 1px); //1px for shadow */
  --add-to-cart-button-height: calc(3.231em + 1px);
  --p-code-height: 12px;
  --name-number-of-lines: 2;
  --name-height: calc(1em * var(--name-number-of-lines) * var(--lh-1-4));
  --desc-number-of-lines: 2;
  --desc-height: calc(1em * var(--desc-number-of-lines) * var(--lh-1-4));
  --availability-height: calc(1em * var(--lh-1-4) + var(--padding-capsules-vertical) * 2);
  --prices-height: calc(0.846em * var(--lh-1-4) + 1.231em * var(--lh-1-4));
  /* --price-per-unit-height: calc(0.846em * var(--lh-1-4)); */
  grid-template-rows: var(--add-to-cart-button-height) var(--p-code-height) var(--name-height) var(--desc-height) var(--availability-height) var(--prices-height);
  /* 	var(--price-per-unit-height); */
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product .p-in {
    --add-to-cart-button-height: calc(1em * 2 + 1.231em + 1px + 1em);
    --desc-number-of-lines: 2;
  }
}
@media screen and (min-width: 1280px) {
  .admin-logged .products-block .product .p-in {
    --name-height: calc(1.231em * var(--name-number-of-lines) * var(--lh-1-4));
    --desc-number-of-lines: 2;
  }
}
.admin-logged .products-block .product .p-in .p-in-in {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: 1fr;
  row-gap: 8px;
  --padding-capsules-vertical: 2px;
  /* 	--add-to-cart-button-height: calc(2.4615em + 1px); //1px for shadow */
  --add-to-cart-button-height: calc(3.231em + 1px);
  --p-code-height: 12px;
  --name-number-of-lines: 2;
  --name-height: calc(1em * var(--name-number-of-lines) * var(--lh-1-4));
  --desc-number-of-lines: 2;
  --desc-height: calc(1em * var(--desc-number-of-lines) * var(--lh-1-4));
  --availability-height: calc(1em * var(--lh-1-4) + var(--padding-capsules-vertical) * 2);
  --prices-height: calc(0.846em * var(--lh-1-4) + 1.231em * var(--lh-1-4));
  /* --price-per-unit-height: calc(0.846em * var(--lh-1-4)); */
  grid-template-rows: var(--add-to-cart-button-height) var(--p-code-height) var(--name-height) var(--desc-height) var(--availability-height) var(--prices-height);
  /* 	var(--price-per-unit-height); */
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product .p-in .p-in-in {
    --add-to-cart-button-height: calc(1em * 2 + 1.231em + 1px + 1em);
    --desc-number-of-lines: 2;
  }
}
@media screen and (min-width: 1280px) {
  .admin-logged .products-block .product .p-in .p-in-in {
    --name-height: calc(1.231em * var(--name-number-of-lines) * var(--lh-1-4));
    --desc-number-of-lines: 2;
  }
}
.admin-logged .products-block .product .p-in .p-in-in .name {
  grid-row: 3;
  color: black;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: var(--name-number-of-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: var(--lh-1-4);
  font-size: 1em;
  height: auto;
}
@media screen and (min-width: 1280px) {
  .admin-logged .products-block .product .p-in .p-in-in .name {
    font-size: 1.231em;
  }
}
.admin-logged .products-block .product .p-in .p-in-in .name:hover, .admin-logged .products-block .product .p-in .p-in-in .name:focus-within {
  text-decoration: underline;
}
.admin-logged .products-block .product .p-in .p-in-in .name .product-appendix {
  display: none !important;
}
.admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: 1fr;
  row-gap: 8px;
  --padding-capsules-vertical: 2px;
  /* 	--add-to-cart-button-height: calc(2.4615em + 1px); //1px for shadow */
  --add-to-cart-button-height: calc(3.231em + 1px);
  --p-code-height: 12px;
  --name-number-of-lines: 2;
  --name-height: calc(1em * var(--name-number-of-lines) * var(--lh-1-4));
  --desc-number-of-lines: 2;
  --desc-height: calc(1em * var(--desc-number-of-lines) * var(--lh-1-4));
  --availability-height: calc(1em * var(--lh-1-4) + var(--padding-capsules-vertical) * 2);
  --prices-height: calc(0.846em * var(--lh-1-4) + 1.231em * var(--lh-1-4));
  /* --price-per-unit-height: calc(0.846em * var(--lh-1-4)); */
  grid-template-rows: var(--add-to-cart-button-height) var(--p-code-height) var(--name-height) var(--desc-height) var(--availability-height) var(--prices-height);
  /* 	var(--price-per-unit-height); */
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper {
    --add-to-cart-button-height: calc(1em * 2 + 1.231em + 1px + 1em);
    --desc-number-of-lines: 2;
  }
}
@media screen and (min-width: 1280px) {
  .admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper {
    --name-height: calc(1.231em * var(--name-number-of-lines) * var(--lh-1-4));
    --desc-number-of-lines: 2;
  }
}
.admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper .stars-wrapper {
  grid-row: 2;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper .stars-wrapper[data-micro-rating-count="0"] {
  display: none;
}
.admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper .star-list {
  /* 	@include star-list; */
}
.admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper .reviews-number {
  font-size: 0.846em;
  color: black;
  opacity: 0.6;
  padding-left: 7px;
}
.admin-logged .products-block .product .p-in .p-in-in .ratings-wrapper .product-measure-unit {
  grid-row: 2;
  grid-column: 2;
  font-size: 0.846em;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--padding-capsules);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
}
.admin-logged .products-block .product .p-in .p-bottom {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: 1fr;
  row-gap: 8px;
  --padding-capsules-vertical: 2px;
  /* 	--add-to-cart-button-height: calc(2.4615em + 1px); //1px for shadow */
  --add-to-cart-button-height: calc(3.231em + 1px);
  --p-code-height: 12px;
  --name-number-of-lines: 2;
  --name-height: calc(1em * var(--name-number-of-lines) * var(--lh-1-4));
  --desc-number-of-lines: 2;
  --desc-height: calc(1em * var(--desc-number-of-lines) * var(--lh-1-4));
  --availability-height: calc(1em * var(--lh-1-4) + var(--padding-capsules-vertical) * 2);
  --prices-height: calc(0.846em * var(--lh-1-4) + 1.231em * var(--lh-1-4));
  /* --price-per-unit-height: calc(0.846em * var(--lh-1-4)); */
  grid-template-rows: var(--add-to-cart-button-height) var(--p-code-height) var(--name-height) var(--desc-height) var(--availability-height) var(--prices-height);
  /* 	var(--price-per-unit-height); */
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product .p-in .p-bottom {
    --add-to-cart-button-height: calc(1em * 2 + 1.231em + 1px + 1em);
    --desc-number-of-lines: 2;
  }
}
@media screen and (min-width: 1280px) {
  .admin-logged .products-block .product .p-in .p-bottom {
    --name-height: calc(1.231em * var(--name-number-of-lines) * var(--lh-1-4));
    --desc-number-of-lines: 2;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: 1fr;
  row-gap: 8px;
  --padding-capsules-vertical: 2px;
  /* 	--add-to-cart-button-height: calc(2.4615em + 1px); //1px for shadow */
  --add-to-cart-button-height: calc(3.231em + 1px);
  --p-code-height: 12px;
  --name-number-of-lines: 2;
  --name-height: calc(1em * var(--name-number-of-lines) * var(--lh-1-4));
  --desc-number-of-lines: 2;
  --desc-height: calc(1em * var(--desc-number-of-lines) * var(--lh-1-4));
  --availability-height: calc(1em * var(--lh-1-4) + var(--padding-capsules-vertical) * 2);
  --prices-height: calc(0.846em * var(--lh-1-4) + 1.231em * var(--lh-1-4));
  /* --price-per-unit-height: calc(0.846em * var(--lh-1-4)); */
  grid-template-rows: var(--add-to-cart-button-height) var(--p-code-height) var(--name-height) var(--desc-height) var(--availability-height) var(--prices-height);
  /* 	var(--price-per-unit-height); */
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product .p-in .p-bottom > div {
    --add-to-cart-button-height: calc(1em * 2 + 1.231em + 1px + 1em);
    --desc-number-of-lines: 2;
  }
}
@media screen and (min-width: 1280px) {
  .admin-logged .products-block .product .p-in .p-bottom > div {
    --name-height: calc(1.231em * var(--name-number-of-lines) * var(--lh-1-4));
    --desc-number-of-lines: 2;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: initial;
  grid-row: 6;
  padding: 0;
  /* 	@include products-block-grid-layout; */
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices .price-final {
  /* 	grid-row: 6;
  display: flex;
  align-items: center;
  gap: 0.31em; */
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  font-weight: 700;
  font-size: 1.231em;
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices .price-final strong {
  font-weight: 700;
  font-size: 1em;
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices .price-standard {
  color: #d44b6c;
  text-decoration: line-through;
  font-size: 1em;
  font-weight: 400;
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices .price-standard strong {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices .price-save {
  display: none !important;
}
.admin-logged .products-block .product .p-in .p-bottom > div .prices .price-additional {
  /* grid-row: 7; */
  font-size: 0.846em;
  color: black;
  opacity: 0.6;
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: left;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools {
  grid-row: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 7px;
  margin-top: -8px;
  padding: 0;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools button,
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper {
  width: var(--add-to-cart-button-width);
  height: var(--add-to-cart-button-height);
  background-color: var(--color-secondary);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  inset: 0;
  margin: 0;
  /* 	@include bottom-cta-shadow-small; */
}
@media screen and (max-width: 767px) {
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button,
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper {
    border-radius: 8px;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools button:hover, .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button:focus-within,
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper:hover,
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper:focus-within {
  background-color: var(--color-secondary-hover);
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools button span,
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper span {
  font-size: 0px;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools button::after,
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_add_to_cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a {
  width: var(--add-to-cart-button-width);
  height: var(--add-to-cart-button-height);
  background-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  /* 	@include bottom-primary-shadow-small; */
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  overflow: hidden;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a:hover, .admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a:focus-within {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a:focus-within {
  outline: solid 3px black;
  outline-offset: 1px;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_search_glass_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools {
    margin-top: 0;
    margin-right: 11px;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button,
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper {
    height: auto;
    width: auto;
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
    padding: 1em 2.231em;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button span,
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper span {
    font-size: 1.231em;
    color: white;
    font-weight: 700;
    line-height: 1;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button:hover,
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper:hover {
    -webkit-transform: none;
            transform: none;
    background-color: var(--color-secondary-hover);
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button:focus-within,
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper:focus-within {
    -webkit-transform: none;
            transform: none;
    outline: none;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools button::after,
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools .increase-decrease-wrapper::after {
    display: none;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a {
    width: auto;
    height: 2.65em;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
    padding: 0.8125em 1.5625em;
    border-radius: 16px;
    font-size: 1.231em;
    color: white;
    font-weight: 700;
    line-height: 1;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a::after {
    display: none;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a:hover, .admin-logged .products-block .product .p-in .p-bottom > div .p-tools > a:focus-within {
    -webkit-transform: none;
            transform: none;
    background-color: var(--color-primary);
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  border-radius: 16px;
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper:hover, .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper:focus-within {
  background-color: var(--color-secondary) !important;
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .increase-button,
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .decrease-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 1.1155em;
  color: white;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .increase-button {
  border-radius: 0 16px 16px 0;
}
@media screen and (max-width: 767px) {
  .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .increase-button {
    border-radius: 0 8px 8px 0;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .increase-button:hover, .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .increase-button:focus-within {
  background-color: var(--color-secondary-hover);
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .decrease-button {
  border-radius: 16px 0 0 16px;
}
@media screen and (max-width: 767px) {
  .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .decrease-button {
    border-radius: 8px 0 0 8px;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .decrease-button:hover, .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper .decrease-button:focus-within {
  background-color: var(--color-secondary-hover);
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper input {
  margin: 0;
  padding: 0;
  border-style: none;
  background: var(--color-secondary);
  color: white;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 3em;
  min-width: 3em;
  border-radius: 0;
  /* 		@include disable-input-controls; */
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper input:hover, .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper input:focus-within {
  background-color: var(--color-secondary-hover);
  outline: none;
}
@media screen and (max-width: 767px) {
  .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper input {
    font-size: 14px;
    width: 2em;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper:hover, .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper:focus-within {
  background-color: var(--color-secondary);
}
@media screen and (max-width: 767px) {
  .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper {
    width: auto !important;
    width: -webkit-min-content !important;
    width: -moz-min-content !important;
    width: min-content !important;
  }
  .admin-logged .products-block .product .p-in .p-bottom > div .increase-decrease-wrapper::after {
    display: none !important;
  }
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-desc {
  grid-row: 4;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  display: -webkit-box;
  -webkit-line-clamp: var(--desc-number-of-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
.admin-logged .products-block .product .p-in .p-bottom > div .p-desc .product-appendix {
  font-weight: 700;
}
.admin-logged .products-block .product .p-in .p-bottom .availability {
  grid-row: 5;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--padding-capsules);
  background: #e1ffda;
  border-radius: 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #009901;
}
.admin-logged .products-block .product .p-in .p-bottom .availability span {
  font-weight: 700;
}
.admin-logged .products-block .product .p-in .p-bottom .availability .availability-amount {
  font-weight: 400;
  padding-left: 0.231em;
  padding-right: 1px;
}
.admin-logged .products-block .product .p-in .p-bottom .availability:not(:has(.availability-amount)) {
  background: #e9cbd0 !important;
  color: #d44b6c !important;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 380px) {
  .admin-logged .products-block .product .p-in .p-bottom .availability:not(:has(.availability-amount)) {
    font-size: calc(1em - 2px);
  }
}
.admin-logged .products-block .product .p-in .p-code {
  display: block;
  grid-row: 2;
  font-size: 12px;
  line-height: 1;
}
.admin-logged .products-block .product .p-code {
  display: none;
}
@media screen and (min-width: 768px) {
  .admin-logged .products-block .product:not(.product-in-cart) {
    /* .p-tools {
    	display: none !important;
    	.increase-decrease-wrapper {
    		display: none !important;
    	}
    } */
  }
  .admin-logged .products-block .product:hover .p-tools, .admin-logged .products-block .product:focus-within .p-tools {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .admin-logged .products-block .product.product-in-cart button {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .admin-logged .products-block .product.product-in-cart button {
    display: none !important;
  }
}
.admin-logged .products-block .product:not(:has(.availability-amount)) {
  opacity: 0.65;
}