:root {
	--ornaments-size: clamp(10rem, 60vw, 100rem);
	--index-heading-size: clamp(2rem, 1.6vw, 3.4rem);
}
body {
	font-weight: 400;
}
@media (min-width: 768px) {
	.content-wrapper.container {
		width: 100%;
		max-width: 1440px;
		padding: 20px;
	}
}

.header-navigation > div {
	width: 100% !important;
}

/*uvodní banner*/
.in-index #header {
	padding-top: 0;
}
.in-index #header .navigation-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
}
.in-index #videoWrapper {
	position: relative;
	overflow: visible;
}

.in-index #videoWrapper video {
	position: relative;
	margin: auto;
	width: 100%;
	left: 0;
	z-index: 2;
	display: block;
}

.in-index h1.header-title {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: var(--index-heading-size);
	height: 100%;
	max-height: calc(var(--ornaments-size) / 3);
	margin-top: auto;
	padding: 0;
	padding-left: calc(var(--ornaments-size) / 3);
	padding-bottom: calc(var(--ornaments-size) / 6);
	transition: none;
}

.in-index .navigation-wrapper::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-01.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -6px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

/*Horní bannery - Novinky naší pražírny*/
.banners-top {
	background-color: var(--color-tertiary);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	font-size: var(--index-heading-size);
	padding-bottom: 6.5em;
	position: relative;
}
.banners-top::before {
	display: none;
}
.banners-top::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-03.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -15px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

.banners-top > .banner-wrapper {
	width: 25%;
	max-width: 260px;
	display: flex;
	justify-content: center;
	margin-top: 3.5em;
	overflow: visible;
}

.banners-top > .banner-wrapper span {
	background: none;
}
.banners-top > .banner-wrapper a {
	transition: none;
}

.banners-top > .banner-wrapper h3 {
	display: flex;
	flex-direction: column;
	color: var(--color-primary);
	font-size: 0.9em;
	margin: 0;
	position: relative;
}
.banners-top > .banner-wrapper h3::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 0.2em;
	bottom: -0.3em;
	background: var(--color-primary);
	transform: scaleX(0%);
	transform-origin: right;
	transition: transform var(--trans-d) var(--trans-f);
}
.banners-top > .banner-wrapper a:hover h3::after {
	transform: scaleX(100%);
	transform-origin: left;
}
.banners-top > .banner-wrapper:first-child {
	position: relative;
	width: 100%;
	margin-top: 0;
	max-width: none;
	text-align: left;
	padding-right: 57vw;
	padding-bottom: 1em;
	padding-top: 1.4em;
	justify-content: flex-end;
}
.banners-top > .banner-wrapper:first-child span {
	background: none;
}
.banners-top > .banner-wrapper:first-child h2 {
	font-size: 1em;
	color: var(--color-primary);
	font-weight: 400;
	margin: 0;
}
.banners-top > .banner-wrapper:first-child::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-02.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

/*bloky produktů na hlavní stránce*/
.in-index #content-wrapper.container {
	padding: 0;
	width: 100%;
}
.in-index #content-wrapper.container #content {
	padding: 0;
}
.in-index #content > .homepage-group-title {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-primary);
	font-size: var(--index-heading-size);
	position: relative;
	width: 100%;
	margin-top: 0;
	text-align: right;
	padding-right: 60vw;
	padding-top: calc(var(--ornaments-size) / 44);
	margin: 1em auto;
}

.in-index #content > .homepage-group-title:first-child {
	padding-top: calc(var(--ornaments-size) / 22);
	padding-bottom: 0.9em;
	margin: auto;
}
.in-index #content > .homepage-group-title::before {
	display: none;
}
.in-index #content > .homepage-group-title::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-05.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.in-index #content > .homepage-group-title:first-child::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-04.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.in-index #content > .products:nth-last-child(3) {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 5em;
}
.in-index #content > .products:nth-last-child(3)::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-06.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -7px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

/*produkty homepage*/
.in-index #content .products {
	max-width: var(--index-max-width);
	margin: auto;
}
.products-block .p {
	padding: 5px 10px 0 10px;
}
.products-block .p-in a.p-name {
	height: auto !important;
	overflow: visible;
	position: relative;
	text-align: left;
	padding-bottom: 1.4em;
}
.products-block .p-in a span {
	color: var(--color-primary);
	font-size: 2rem;
	font-weight: 500;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.products-block .p-in a span::after {
	content: "";
	display: block;
	width: 35%;
	height: 0.2em;
	background: var(--color-primary);
	position: absolute;
	bottom: 0;
	left: 0;
}
.products-block .p-bottom > .p-desc:first-child {
	display: none;
}
.products-block .product .p .prices {
	font-size: 1.8rem;
	margin: 0;
	margin-top: -0.85em;
	padding: 0;
	position: initial;
}
.products-block .prices-top {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	text-align: left;
	padding-left: 39%;
}
.products-block .p:hover {
	position: relative;
}
.products-block .p .prices-top .price-final,
.products-block .p .prices-top .price-standard,
.products-block .p .prices-top .save-percent {
	flex: auto;
}
.price-standard {
	color: var(--color-primary);
	opacity: 0.4;
}
.products-block .p:hover .p-bottom,
.products-block .p:hover {
	box-shadow: none;
}
.products-block .p .p-bottom::after,
.products-block .p::after {
	opacity: 0;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: var(--color-tertiary);
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-primary);
}
.products-block .p .p-bottom::after {
	border-top-style: none;
}
.products-block .p::after {
	border-bottom-style: none;
}
.products-block .p:hover .p-bottom::after,
.products-block .p:hover::after {
	transition: opacity var(--trans-d) var(--trans-f);
	opacity: 0.1;
}

.products-block .p:hover .p-bottom {
	padding-bottom: 10px;
}
.products-block .p img {
	transition: transform var(--trans-d) var(--trans-f);
}
.products-block .p:hover img {
	filter: brightness(1.02);
	transform: scale(1.05);
}
.products-block .p-desc {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--color-primary);
}

/*welcome text*/
.welcome-wrapper {
	background-color: var(--color-tertiary);
	font-size: var(--index-heading-size);
	position: relative;
	padding: 0;
	font-weight: 400;
}
.welcome-wrapper::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-07-v2.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.welcome-wrapper::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-08-v2.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -12px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

.welcome-wrapper h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-primary);
	font-size: var(--index-heading-size) !important;
	width: var(--index-max-width);
	text-align: left !important;
	margin: auto;
	padding-right: calc(var(--index-max-width) / 1.5);
	padding-top: calc(var(--ornaments-size) / 8.7);
}
.welcome-wrapper h1::before {
	display: none !important;
}
.welcome-wrapper .welcome > div {
	max-width: var(--index-max-width);
	margin: auto;
	padding-bottom: calc(var(--ornaments-size) / 7.5);
}
/*konkurencni vyhody*/
.benefitBanner {
	display: flex;
	justify-content: center;
	padding-top: calc(var(--ornaments-size) / 4.5);
	padding-bottom: calc(var(--ornaments-size) / 8);
	margin: 0 auto;
	position: relative;
	width: var(--index-max-width);
}
.benefitBanner::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-09.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.benefitBanner::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-10.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -7px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.benefitBanner__item {
	display: flex;
	flex-direction: column;
	flex: auto;
	flex-grow: 0;
	width: 20%;
}
.benefitBanner__picture {
	max-width: 50%;
	margin: 0;
}
.benefitBanner__content {
	padding: 0;
}
.benefitBanner__content h2 {
	display: flex;
	flex-direction: column;
	color: var(--color-primary);
	font-size: 18px;
	text-align: center;
	margin: 0.5em 0 0;
}

/*footer*/
#footer {
	position: relative;
	overflow: hidden;
	min-height: calc(var(--ornaments-size) / 1.79);
	display: flex;
	flex-direction: column;
	padding-left: calc(var(--ornaments-size) / 6);
	background: var(--color-primary);
}
#footer,
.footer-section {
	border-style: none;
}
#footer::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-11.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

.custom-footer {
	display: flex;
	flex-direction: column;
}

.custom-footer span,
.custom-footer a {
	color: white !important;
	font-size: 14px;
	font-weight: 400;
}
.custom-footer h4 span {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}

.footer-bottom {
	margin: auto;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.footer-bottom .container {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
	color: white;
	font-weight: 400;
}
.footer-bottom #signature {
	margin: 0;
}
.footer-bottom #signature a {
	color: white !important;
}

@media (min-width: 1440px) {
	.footer-bottom {
		position: absolute;
		bottom: 0;
		right: 10px;
	}
	.footer-bottom .container {
		align-items: flex-end;
	}
}

/*top menu*/
@media (min-width: 992px) {
	.menu-hamburger {
		display: block;
		position: absolute;
		width: 50px;
		height: 40px;
		left: 5%;
		top: 55px;
		background-image: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/hamburgerMenu.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		cursor: pointer;
		z-index: 99;
	}

	.menu-open .menu-hamburger {
		display: none;
	}
	.menu-hamburger-close {
		display: none;

		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		right: 5%;
		top: 5%;
		background-image: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/menuClose.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 150%;
		cursor: pointer;
		z-index: 99;
	}
	.menu-open .menu-hamburger-close {
		display: block;
	}
	.in-index #header .header-navigation {
		display: none;
	}
	.in-index #header .menu-open .header-navigation {
		display: block;
	}
	.in-index #header .menu-open .header-navigation > div {
		--menu-width: clamp(300px, 20vw, 500px);
		--menu-padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: var(--menu-width) !important;
		padding: 0 var(--menu-padding);
		height: 100vh;
		height: 100svh;
		position: fixed;
		top: 0;
		left: 0;
		background: var(--color-tertiary);
		border-right-style: solid;
		border-width: 1px;
		border-color: var(--color-primary);
		box-shadow: 8px 16px 16px #707070;
		animation: menuSlideIn;
		animation-duration: var(--trans-d);
		animation-timing-function: var(--trans-f);
		animation-fill-mode: forwards;
	}
	@keyframes menuSlideIn {
		from {
			opacity: 0;
			transform: translatex(-100%);
		}
		to {
			opacity: 1;
			transform: translatex(0);
		}
	}

	.in-index #header .menu-open .header-navigation > div .site-name {
		margin: 20px 0 0 15px;
	}
	.in-index #header .menu-open .header-navigation > div .navigation-buttons {
		display: flex;
	}
	#navigation {
		position: absolute;
		width: 100%;
		top: 58px;
	}
	.in-index #navigation {
		position: initial;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		flex: 1;
	}
	.in-index #navigation .navigation-in {
		position: initial;
		width: auto;
		background: transparent;
	}
	.in-index .menu-open .menu-level-1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 1.6rem;
		margin-top: 1em;
		align-items: flex-start;
		z-index: 9999;
	}
	.in-index .menu-open .menu-level-2 {
		right: auto;
		left: 0;
		margin-left: 0;
		margin-top: 10px;
		width: calc(var(--menu-width) - var(--menu-padding) * 2);
		background: var(--color-primary);
		color: white;
	}
	.in-index .menu-open .menu-level-2 span {
		color: white;
	}
	.in-index .menu-open .menu-level-2 a::before {
		background-color: white !important;
	}
	.in-index .menu-open .menu-level-2 a:hover span {
		text-decoration: underline;
	}
	.in-index .menu-open .menu ul li {
		visibility: visible;
	}
	.in-index .menu-open .menu ul li > a {
		padding: 1em;
		color: var(--color-primary);
		transition: color 0.2s;
	}
	.in-index .menu-open .menu ul li > a:hover {
		color: white;
	}
	.in-index .navigationActions {
		display: none !important;
	}
	#header .site-name {
		position: absolute;
		left: 2%;
		top: 15px;
	}
	.in-index #header .site-name {
		position: initial;
	}
	.navigation-buttons {
		display: flex;
		right: 5% !important;
		top: 20px !important;
		position: absolute;
	}
	.in-index .navigation-buttons {
		top: 45px !important;
	}
	.navigation-buttons > a {
		font-size: 2.2rem;
	}
	.navigation-buttons > a[data-target="cart"] i {
		top: 0.2em;
		right: -0.1em;
		font-size: 16px;
		height: 20px;
		width: 20px;
	}
	.toggle-window {
		padding-top: 0;
	}
	.toggle-window[data-target="navigation"] {
		display: none !important;
	}

	.popup-widget.search-widget {
		top: 60px !important;
		right: calc(5% - 20px) !important;
		left: auto !important;
	}
	.popup-widget.login-widget {
		top: 60px !important;
		right: calc(5% - 25px) !important;
		left: auto !important;
	}
	.popup-widget.cart-widget {
		top: 60px !important;
		right: calc(5% - 19px) !important;
		left: auto !important;
	}
	.admin-logged .popup-widget.search-widget,
	.admin-logged .popup-widget.login-widget,
	.admin-logged .popup-widget.cart-widget {
		top: 75px !important;
	}

	.in-index .popup-widget.search-widget {
		top: 85px !important;
		right: calc(5% - 20px) !important;
		left: auto !important;
	}
	.in-index .popup-widget.login-widget {
		top: 85px !important;
		right: calc(5% - 25px) !important;
		left: auto !important;
	}
	.in-index .popup-widget.cart-widget {
		top: 85px !important;
		right: calc(5% - 19px) !important;
		left: auto !important;
	}
	.in-index.admin-logged .popup-widget.search-widget,
	.in-index.admin-logged .popup-widget.login-widget,
	.in-index.admin-logged .popup-widget.cart-widget {
		top: 100px !important;
	}
}

@media (min-width: 992px) {
	.scrolled .popup-widget::before {
		display: none !important;
	}
	.scrolled .header-navigation {
		height: 100px;
	}
	.scrolled .in-index .header-navigation {
		height: auto;
	}
	.scrolled.scrolled-up .header-navigation {
		top: 0;
	}
	.scrolled.scrolled-down .header-navigation {
		top: -100px;
	}
}

/*kategorie, vyhledavani, sidebar atd*/
h1.header-title,
h2.header-title {
	height: auto;
}
.sidebar {
	margin-right: 20px;
	background: var(--color-tertiary);
	margin-top: -40px;
	padding-top: 40px;
}
.sidebar h4 span {
	color: var(--color-primary);
	background: transparent;
}
.ui-slider .ui-slider-range,
.ui-slider-handle,
.ui-slider-handle:hover {
	background-color: var(--color-primary);
}
.sidebar h4:before {
	display: none;
}
.categories ul a:before {
	background-color: var(--color-primary);
}
@media (min-width: 768px) {
	.breadcrumbs {
		position: relative;
		background: transparent;
	}
}
@media (max-width: 992px) {
	.in-index .header-navigation {
		top: 10px;
	}
	html.scrolled .in-index .header-navigation {
		top: 0;
	}
	.in-index .header-title,
	.in-index .navigation-wrapper::before {
		display: none;
	}

	.banners-top > .banner-wrapper {
		margin-top: 1.5em;
		margin-bottom: 1em;
		width: 50%;
		max-width: none;
	}
	.banners-top > .banner-wrapper:first-child,
	.in-index #content > .homepage-group-title:first-child,
	.in-index #content > .homepage-group-title,
	.welcome-wrapper h1 {
		padding: 1.5em 0 0;
		text-align: center;
		margin: auto;
		display: block;
		width: 100%;
	}
	.in-index #content > .homepage-group-title:first-child,
	.in-index #content > .homepage-group-title {
		text-decoration: underline;
		padding-bottom: 0.5em;
	}
	.banners-top > .banner-wrapper:first-child::after,
	.in-index #content > .homepage-group-title:first-child::after,
	.in-index #content > .homepage-group-title::after,
	.in-index #content > .products:nth-last-child(3)::after,
	.welcome-wrapper::before,
	.welcome-wrapper::after,
	.benefitBanner::before,
	.benefitBanner::after,
	#footer::before {
		display: none;
	}
	.banners-top > .banner-wrapper h3 {
		text-align: center;
	}
	.banners-top {
		padding-bottom: 2em;
	}
	.banners-top::after {
		display: none;
	}
	.welcome-wrapper {
		padding: 0 20px;
	}
	.welcome-wrapper h1 {
		text-align: center !important;
		margin: 0 !important;
	}
	.welcome-wrapper .welcome > div {
		padding-bottom: 1em;
	}
	.benefitBanner {
		padding: 2rem 0;
		width: 100%;
	}
	.benefitBanner__item {
		width: 33%;
		max-width: 150px;
	}
	#footer {
		min-height: auto;
		padding: 0;
	}
	.custom-footer {
		margin: 0;
		align-items: center;
		max-width: none;
	}
	.footer-bottom .container {
		text-align: center;
	}
	.products-block .prices-top {
		padding: 0;
	}
	.products-block .prices-top .price-standard,
	.products-block .prices-top .price-final {
		flex: auto !important;
	}
	.products-block .p-in a span::after {
		width: 20%;
		height: 0.1em;
		bottom: 0.8em;
	}
	.products-block .product .p {
		height: auto;
	}

	.products-block .p-desc {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		padding-top: 0.5em;
		height: auto;
	}
	.products-block .p:hover .p-bottom,
	.products-block .p .p-bottom {
		padding-bottom: 20px !important;
	}
}
body.in-index.mobile .banners-top > .banner-wrapper:first-child {
	padding-top: 80px;
	background: var(--color-primary);
}
.mobile .banners-top > .banner-wrapper h2 {
	color: var(--color-primary);
	text-align: center;
	font-size: 1.1em;
}
@media (max-width: 440px) {
	.banners-top > .banner-wrapper:first-child {
		font-size: 1.1em;
	}
	.banners-top > .banner-wrapper {
		width: 100%;
	}

	.benefitBanner {
		flex-direction: column;
		align-items: center;
	}
	.benefitBanner__item {
		width: 100%;
	}
}
@media (max-width: 321px) {
	.in-index .p-in a.p-name {
		padding: 0;
	}
	.in-index .p-in a span {
		position: relative;
		padding-bottom: 1.4em;
	}
	.in-index .p-in a span::after {
		bottom: 0.9em;
	}
}
