:root {
	--ornaments-size: clamp(10rem, 60vw, 100rem);
	--index-heading-size: clamp(2rem, 1.6vw, 3.4rem);
	--trans-d: 0.2s;
	--trans-f: ease-in-out;
	--index-max-width: 960px;
	--border-radius: 6px;
}
body {
	font-weight: 400;
}
@media (min-width: 768px) {
	.content-wrapper.container {
		width: 100%;
		max-width: 1440px;
		padding: 20px;
		padding-left: 0;
		padding-top: 0;
	}
}
.btn,
a.btn {
	border-radius: var(--border-radius);
}

.header-navigation > div {
	width: 100% !important;
}
/*odstraneni jednoho ze dnou h1 na podstrance*/
h1.header-title {
	display: none;
}

.in-index h1.header-title {
	display: flex;
}

/*uvodní banner*/
.in-index #header {
	padding-top: 0;
}
.in-index #header .navigation-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
}
.in-index #videoWrapper {
	position: relative;
	overflow: visible;
}

.in-index #videoWrapper video {
	position: relative;
	margin: auto;
	width: 100%;
	left: 0;
	z-index: 2;
	display: block;
}

.in-index h1.header-title {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: var(--index-heading-size);
	height: 100%;
	max-height: calc(var(--ornaments-size) / 3);
	margin-top: auto;
	padding: 0;
	padding-left: calc(var(--ornaments-size) / 3);
	padding-bottom: calc(var(--ornaments-size) / 6);
	transition: none;
}

.in-index .navigation-wrapper::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-01.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -6px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

/*Horní bannery - Novinky naší pražírny*/
.banners-top {
	background-color: var(--color-tertiary);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	font-size: var(--index-heading-size);
	padding-bottom: 6.5em;
	position: relative;
}
.banners-top::before {
	display: none;
}
.banners-top::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-03.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -15px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

.banners-top > .banner-wrapper {
	width: 25%;
	max-width: 260px;
	display: flex;
	justify-content: center;
	margin-top: 3.5em;
	overflow: visible;
}

.banners-top > .banner-wrapper span {
	background: none;
}
.banners-top > .banner-wrapper a {
	transition: none;
}

.banners-top > .banner-wrapper h3 {
	display: flex;
	flex-direction: column;
	color: var(--color-primary);
	font-size: 0.9em;
	margin: 0;
	position: relative;
}
.banners-top > .banner-wrapper h3::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 0.2em;
	bottom: -0.3em;
	background: var(--color-primary);
	transform: scaleX(0%);
	transform-origin: right;
	transition: transform var(--trans-d) var(--trans-f);
}
.banners-top > .banner-wrapper a:hover h3::after {
	transform: scaleX(100%);
	transform-origin: left;
}
.banners-top > .banner-wrapper:first-child {
	position: relative;
	width: 100%;
	margin-top: 0;
	max-width: none;
	text-align: left;
	padding-right: 57vw;
	padding-bottom: 1em;
	padding-top: 1.4em;
	justify-content: flex-end;
}
.banners-top > .banner-wrapper:first-child span {
	background: none;
}
.banners-top > .banner-wrapper:first-child h2 {
	font-size: 1em;
	color: var(--color-primary);
	font-weight: 400;
	margin: 0;
}
.banners-top > .banner-wrapper:first-child::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-02.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

/*bloky produktů na hlavní stránce*/
.in-index #content-wrapper.container {
	padding: 0;
	width: 100%;
	max-width: none;
}
.in-index #content-wrapper.container #content {
	padding: 0;
}
.in-index #content > .homepage-group-title {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-primary);
	font-size: var(--index-heading-size);
	position: relative;
	width: 100%;
	margin-top: 0;
	text-align: right;
	padding-right: 60vw;
	padding-top: calc(var(--ornaments-size) / 44);
	margin: 1em auto;
}

.in-index #content > .homepage-group-title:first-child {
	padding-top: calc(var(--ornaments-size) / 22);
	padding-bottom: 0.9em;
	margin: auto;
}
.in-index #content > .homepage-group-title::before {
	display: none;
}
.in-index #content > .homepage-group-title::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-05.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.in-index #content > .homepage-group-title:first-child::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-04.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.in-index #content > .products:nth-last-child(3) {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 5em;
}
.in-index #content > .products:nth-last-child(3)::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-06.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -7px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

/*produkty homepage*/
.in-index #content .products {
	max-width: var(--index-max-width);
	margin: auto;
}
.products-block .p {
	padding: 5px 10px 0 10px;
}
.products-block .p-in a.p-name {
	height: auto !important;
	overflow: visible;
	position: relative;
	text-align: left;
	padding-bottom: 1.4em;
}
.products-block .p-in a span {
	color: var(--color-primary);
	font-size: 2rem;
	font-weight: 500;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.products-block .p-in a span::after {
	content: "";
	display: block;
	width: 35%;
	height: 0.2em;
	background: var(--color-primary);
	position: absolute;
	bottom: 0;
	left: 0;
}
.products-block .p-bottom > .p-desc:first-child {
	display: none;
}
.products-block .product .p .prices {
	font-size: 1.8rem;
	margin: 0;
	margin-top: -0.85em;
	padding: 0;
	position: initial;
}
.products-block .prices-top {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	text-align: left;
	padding-left: 39%;
}
.products-block .p:hover {
	position: relative;
}
.products-block .p .prices-top .price-final,
.products-block .p .prices-top .price-standard,
.products-block .p .prices-top .save-percent {
	flex: auto;
}
.price-standard {
	color: var(--color-primary);
	opacity: 0.4;
}
.products-block .p:hover .p-bottom,
.products-block .p:hover {
	box-shadow: none;
}
.products-block .p .p-bottom::after,
.products-block .p::after {
	opacity: 0;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: var(--color-tertiary);
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-primary);
}
.products-block .p .p-bottom::after {
	border-top-style: none;
}
.products-block .p::after {
	border-bottom-style: none;
}
.products-block .p:hover .p-bottom::after,
.products-block .p:hover::after {
	transition: opacity var(--trans-d) var(--trans-f);
	opacity: 0.1;
}

.products-block .p:hover .p-bottom {
	padding-bottom: 10px;
}
.products-block .p img {
	transition: transform var(--trans-d) var(--trans-f);
}
.products-block .p:hover img {
	filter: brightness(1.02);
	transform: scale(1.05);
}
.products-block .p-desc {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--color-primary);
}

/*welcome text*/
.welcome-wrapper {
	background-color: var(--color-tertiary);
	font-size: var(--index-heading-size);
	position: relative;
	padding: 0;
	font-weight: 400;
}
.welcome-wrapper::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-07-v2.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.welcome-wrapper::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-08-v2.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -12px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

.welcome-wrapper h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-primary);
	font-size: var(--index-heading-size) !important;
	width: var(--index-max-width);
	text-align: left !important;
	margin: auto;
	padding-right: calc(var(--index-max-width) / 1.5);
	padding-top: calc(var(--ornaments-size) / 8.7);
}
.welcome-wrapper h1::before {
	display: none !important;
}
.welcome-wrapper .welcome > div {
	max-width: var(--index-max-width);
	margin: auto;
	padding-bottom: calc(var(--ornaments-size) / 7.5);
}
/*konkurencni vyhody*/
.benefitBanner {
	display: flex;
	justify-content: center;
	padding-top: calc(var(--ornaments-size) / 4.5);
	padding-bottom: calc(var(--ornaments-size) / 8);
	margin: 0 auto;
	position: relative;
	width: var(--index-max-width);
}
.benefitBanner::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-09.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.benefitBanner::after {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-10.svg");
	width: var(--ornaments-size);
	height: auto;
	bottom: -7px;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}
.benefitBanner__item {
	display: flex;
	flex-direction: column;
	flex: auto;
	flex-grow: 0;
	width: 20%;
}
.benefitBanner__picture {
	max-width: 50%;
	margin: 0;
}
.benefitBanner__content {
	padding: 0;
}
.benefitBanner__content h2 {
	display: flex;
	flex-direction: column;
	color: var(--color-primary);
	font-size: 18px;
	text-align: center;
	margin: 0.5em 0 0;
}

/*footer*/
#footer {
	position: relative;
	overflow: hidden;
	min-height: calc(var(--ornaments-size) / 1.79);
	display: flex;
	flex-direction: column;
	padding-left: calc(var(--ornaments-size) / 6);
	background: var(--color-primary);
}
#footer,
.footer-section {
	border-style: none;
}
#footer::before {
	content: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-11.svg");
	width: var(--ornaments-size);
	height: auto;
	top: 0;
	left: 50%;
	transform: translatex(-50%);
	position: absolute;
	pointer-events: none;
}

.custom-footer {
	display: flex;
	flex-direction: column;
}

.custom-footer span,
.custom-footer a {
	color: white !important;
	font-size: 14px;
	font-weight: 400;
}
.custom-footer h4 span {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}

.footer-bottom {
	margin: auto;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.footer-bottom .container {
	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
	color: white;
	font-weight: 400;
}
.footer-bottom #signature {
	margin: 0;
}
.footer-bottom #signature a {
	color: white !important;
}

@media (min-width: 1440px) {
	.footer-bottom {
		position: absolute;
		bottom: 0;
		right: 10px;
	}
	.footer-bottom .container {
		align-items: flex-end;
	}
}

/*top menu*/
@media (min-width: 992px) {
	.menu-hamburger {
		display: block;
		position: absolute;
		width: 50px;
		height: 40px;
		left: 5%;
		top: 55px;
		background-image: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/hamburgerMenu.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		cursor: pointer;
		z-index: 99;
	}

	.menu-open .menu-hamburger {
		display: none;
	}
	.menu-hamburger-close {
		display: none;

		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		right: 5%;
		top: 5%;
		background-image: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/menuClose.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 150%;
		cursor: pointer;
		z-index: 99;
	}
	.menu-open .menu-hamburger-close {
		display: block;
	}
	.in-index #header .header-navigation {
		display: none;
		height: 0 !important;
	}
	.in-index #header .menu-open .header-navigation {
		display: block;
	}
	.in-index #header .menu-open .header-navigation > div {
		--menu-width: clamp(300px, 20vw, 500px);
		--menu-padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: var(--menu-width) !important;
		padding: 0 var(--menu-padding);
		height: 100vh;
		height: 100svh;
		position: fixed;
		top: 0;
		left: 0;
		background: var(--color-tertiary);
		border-right-style: solid;
		border-width: 1px;
		border-color: var(--color-primary);
		box-shadow: 0px 4px 16px var(--color-primary);
		animation: menuSlideIn;
		animation-duration: var(--trans-d);
		animation-timing-function: var(--trans-f);
		animation-fill-mode: forwards;
	}
	.in-index.admin-logged #header .menu-open .header-navigation > div {
		padding-top: 10px;
	}
	@keyframes menuSlideIn {
		from {
			opacity: 0;
			transform: translatex(-100%);
		}
		to {
			opacity: 1;
			transform: translatex(0);
		}
	}

	.in-index #header .menu-open .header-navigation > div .site-name {
		margin: 20px 0 0 15px;
	}
	.in-index #header .menu-open .header-navigation > div .navigation-buttons {
		display: flex;
	}
	@media (min-width: 992px) {
		#header .site-name a img,
		#header .site-name a > span {
			max-height: 83px;
		}
	}
	#navigation {
		position: absolute;
		width: 100%;
		top: 58px;
		height: 60px;
	}
	.in-index #navigation {
		position: initial;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		flex: 1;
	}
	.in-index #navigation .navigation-in {
		position: initial;
		width: auto;
		background: transparent;
	}
	.in-index .menu-open .menu-level-1 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 1.6rem;
		margin-top: 1em;
		align-items: flex-start;
		z-index: 9999;
	}
	.in-index .menu-open .menu-level-2 {
		right: auto;
		left: 0;
		margin-left: 0;
		margin-top: 10px;
		width: calc(var(--menu-width) - var(--menu-padding) * 2);
		background: var(--color-primary);
		color: white;
	}
	.in-index .menu-open .menu-level-2 span {
		color: white;
	}
	.in-index .menu-open .menu-level-2 a::before {
		background-color: white !important;
	}
	.in-index .menu-open .menu-level-2 a:hover span {
		text-decoration: underline;
	}
	.in-index .menu-open .menu ul li {
		visibility: visible;
	}
	.in-index .menu-open .menu ul li > a {
		padding: 1em;
		color: var(--color-primary);
		transition: color 0.2s;
		font-size: 1.7rem;
	}
	.in-index .menu-open .menu ul li > a:hover {
		color: white;
	}
	.in-index .navigationActions {
		display: none !important;
	}
	#header .site-name {
		position: absolute;
		left: 2%;
		top: 15px;
		transition: all 0.3 ease;
	}
	.in-index #header .site-name {
		position: initial;
	}
	.navigation-buttons {
		display: flex;
		right: 5% !important;
		top: 20px !important;
		position: absolute;
	}
	.in-index .navigation-buttons {
		top: 45px !important;
	}
	.navigation-buttons > a {
		font-size: 2.2rem;
	}
	.navigation-buttons > a[data-target="cart"] i {
		top: 0.7em;
		right: -0.1em;
		font-size: 16px;
		height: 20px;
		width: 20px;
	}
	.in-index .navigation-buttons > a[data-target="cart"] i {
		top: 0.8em;
	}
	.toggle-window {
		padding-top: 0;
	}
	.toggle-window[data-target="navigation"] {
		display: none !important;
	}

	.popup-widget.search-widget {
		top: 60px !important;
		right: calc(5% - 20px) !important;
		left: auto !important;
	}
	.popup-widget.login-widget {
		top: 60px !important;
		right: calc(5% - 25px) !important;
		left: auto !important;
	}
	.popup-widget.cart-widget {
		top: 60px !important;
		right: calc(5% - 19px) !important;
		left: auto !important;
	}
	.admin-logged .popup-widget.search-widget,
	.admin-logged .popup-widget.login-widget,
	.admin-logged .popup-widget.cart-widget {
		top: 75px !important;
	}

	.in-index .popup-widget.search-widget {
		top: 85px !important;
		right: calc(5% - 20px) !important;
		left: auto !important;
	}
	.in-index .popup-widget.login-widget {
		top: 85px !important;
		right: calc(5% - 25px) !important;
		left: auto !important;
	}
	.in-index .popup-widget.cart-widget {
		top: 85px !important;
		right: calc(5% - 19px) !important;
		left: auto !important;
	}
	.in-index.admin-logged .popup-widget.search-widget,
	.in-index.admin-logged .popup-widget.login-widget,
	.in-index.admin-logged .popup-widget.cart-widget {
		top: 100px !important;
	}

	#footer .contact-box {
		min-height: auto;
	}
	#footer .contact-box ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#footer {
		padding-left: 20px;
	}
	#footer .custom-footer > div {
		width: 42%;
		padding-bottom: 0;
		z-index: 1;
	}

	#footer .custom-footer h4 {
		margin-top: 2.5em;
	}
	#footer .custom-footer > div:first-child h4 {
		margin-top: 0;
	}
	#footer .custom-footer h4 span {
		position: relative;
	}
	#footer .custom-footer h4 span::after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0em;
		background: var(--color-tertiary);
		opacity: 0.4;
	}
	#footer .custom-footer__articles ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.instagram-follow-btn {
		text-align: left;
	}
}
@media (min-width: 769px) {
	.type-detail .content-wrapper > .breadcrumbs > span:last-child {
		display: none;
	}
	.type-detail .content-wrapper > .breadcrumbs > span:nth-last-child(2) .navigation-bullet {
		display: none;
	}
	.content-wrapper .breadcrumbs {
		color: var(--color-primary);
		font-size: 1.5rem;
		z-index: 2;
		position: relative;
		top: 10px;
	}
	.sidebar {
		width: 240px;
	}
	.sidebar h4 {
		font-weight: 700;
		text-transform: uppercase;
	}
	.sidebar .categories a {
		color: var(--color-primary);
		font-weight: 500;
		font-size: 1.5rem;
	}
	.sidebar .categories li.active > a {
		color: var(--color-secondary);
	}
	.sidebar .categories a::before {
		display: none;
	}
	.sidebar #categories .categories > ul {
		padding-left: 1rem;
	}
	.sidebar .categories ul a {
		padding-left: 22px;
	}
	.sidebar .categories ul ul a {
		padding-left: 32px;
	}
	.sidebar .categories ul ul ul ul a {
		padding-left: 42px;
	}
	.sidebar .categories ul ul ul ul a {
		padding-left: 52px;
	}
	.sidebar .categories ul ul ul ul a {
		padding-left: 62px;
	}
}
@media (min-width: 992px) {
	.scrolled .popup-widget::before {
		display: none !important;
	}
	.scrolled .header-navigation {
		height: 50px;
	}
	.scrolled .in-index .header-navigation {
		height: auto;
	}
	.scrolled.scrolled-up .header-navigation {
		top: 0;
		height: 50px;
	}
	.scrolled.scrolled-down .header-navigation {
		top: -51px;
	}
	.scrolled.scrolled-up #header .site-name,
	.scrolled.scrolled-down #header .site-name {
		left: 10px;
		top: 0px;
		height: 50px;
		width: 50px;
	}
	.scrolled.scrolled-up .in-index #header .site-name,
	.scrolled.scrolled-down .in-index #header .site-name {
		left: 10px;
		top: 0px;
		height: auto;
		width: 63px;
	}
	.scrolled.scrolled-up .navigation-buttons,
	.scrolled.scrolled-down .navigation-buttons {
		top: -5px !important;
	}
	.scrolled .popup-widget.search-widget,
	.scrolled .popup-widget.login-widget,
	.scrolled .popup-widget.cart-widget {
		top: 32px !important;
	}

	.navigation-in > ul > li > a {
		font-size: 1.6rem;
	}
	.navigation-in > ul > li > a {
		font-size: 1.6rem;
		padding-bottom: 1.5em;
		padding-top: 1.5em;
	}

	.navigation-in > ul > li > a > b {
		position: relative;
	}
	.navigation-in > ul > li > a > b::after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 0.1em;
		bottom: -0.4em;
		background: white;
		transform: scaleX(0%);
		transform-origin: right;
		transition: transform var(--trans-d) var(--trans-f);
	}
	.navigation-in > ul > li > a:hover > b::after {
		transform: scaleX(100%);
		transform-origin: left;
	}
	.navigation-in > ul > li > a:hover {
		font-size: 1.6rem;
		padding-bottom: 1.5em;
		padding-top: 1.5em;
	}
	.navigation-in ul.menu-level-2 li a {
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--color-primary);
	}
	.navigation-in ul.menu-level-2 li a:hover {
		color: var(--color-primary-hover);
	}
	.navigation-in ul.menu-level-2 li a::before {
		display: none;
	}
}

/*kategorie, vyhledavani, sidebar atd*/
.ordering-process #header,
.type-product #header {
	padding-bottom: 0;
}
h1.header-title,
h2.header-title {
	height: auto;
}
.category-top > h1 {
	margin-top: 0;
	color: var(--color-primary);
	font-size: 2.6rem;
}
.sidebar .categories a:hover,
.categories .topic.child-active > a:hover {
	color: var(--color-primary-hover);
}
.p-info-wrapper h1 {
	text-transform: uppercase;
	color: var(--color-primary);
	position: relative;
	font-weight: 600;
}
.sidebar {
	margin-right: 20px;
	/* 	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
	box-shadow: -4px 4px 16px var(--color-primary);
	background: var(--color-tertiary); */
	margin-top: 20px;
	position: relative;
	top: -45px;
	padding-top: 55px;
	padding-left: 20px;
	padding-right: 20px;
}
.sidebar::before {
	content: "";
	width: 100%;
	height: calc(100% + 200px);
	background: red;
	display: block;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	border-right-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
	box-shadow: -4px 4px 16px var(--color-primary);
	background: var(--color-tertiary);
}

.sidebar-inner {
	position: sticky;
	top: 20px;
	padding-top: 0px;
	transition: top 0.3s ease;
}

.scrolled-up .sidebar-inner {
	top: 70px;
}
.sidebar h4 span {
	color: var(--color-primary);
	background: transparent;
}
.ui-slider .ui-slider-range,
.ui-slider-handle,
.ui-slider-handle:hover {
	background-color: var(--color-primary);
}
.slider-content:after,
.slider-content:before {
	background: var(--color-secondary);
	opacity: 0.2;
}
.sidebar #slider {
	background: rgba(255, 255, 255, 0.3);
}
.sidebar h4:before {
	display: none;
}
.categories ul a:before {
	background-color: var(--color-primary);
}
@media (max-width: 768px) {
	aside.sidebar {
		display: none !important;
	}
	.type-detail .detail-parameters {
		margin: auto;
	}
	.type-detail .link-icons {
		display: none;
	}
	.p-detail .detail-parameters th {
		padding-right: 1em;
		text-align: right;
	}
	.content-wrapper.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.category-top > h1 {
		text-align: center;
		font-weight: 600;
	}
	#filters-wrapper {
		width: min(200px, 55%);
		margin: auto;
	}
	.type-detail .add-to-cart {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.navigation-buttons > a[data-target="cart"] i {
		font-size: 14px;
	}
	.navigation-buttons > a[data-target="cart"] i {
		font-size: 14px;
		height: 20px;
		width: 20px;
		top: 12px;
		line-height: 14px;
	}
	.type-detail .shp-tabs-wrapper > .row {
		margin-left: -20px;
		margin-right: -20px;
	}
	.type-detail .tab-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 768px) {
	.breadcrumbs {
		position: relative;
		background: transparent;
		z-index: 2;
	}
}
@media (max-width: 992px) {
	.in-index .header-navigation {
		top: 10px;
	}
	html.scrolled .in-index .header-navigation {
		top: 0;
	}
	.in-index h1.header-title,
	.in-index .navigation-wrapper::before {
		display: none;
	}

	.banners-top > .banner-wrapper {
		margin-top: 1.5em;
		margin-bottom: 1em;
		width: 50%;
		max-width: none;
	}
	.banners-top > .banner-wrapper:first-child,
	.in-index #content > .homepage-group-title:first-child,
	.in-index #content > .homepage-group-title,
	.welcome-wrapper h1 {
		padding: 1.5em 0 0;
		text-align: center;
		margin: auto;
		display: block;
		width: 100%;
	}
	.in-index #content > .homepage-group-title:first-child,
	.in-index #content > .homepage-group-title {
		text-decoration: underline;
		padding-bottom: 0.5em;
	}
	.banners-top > .banner-wrapper:first-child::after,
	.in-index #content > .homepage-group-title:first-child::after,
	.in-index #content > .homepage-group-title::after,
	.in-index #content > .products:nth-last-child(3)::after,
	.welcome-wrapper::before,
	.welcome-wrapper::after,
	.benefitBanner::before,
	.benefitBanner::after,
	#footer::before {
		display: none;
	}
	.banners-top > .banner-wrapper h3 {
		text-align: center;
	}
	.banners-top {
		padding-bottom: 2em;
	}
	.banners-top::after {
		display: none;
	}
	.welcome-wrapper {
		padding: 0 20px;
		line-height: 1.25;
	}
	.welcome-wrapper h1 {
		text-align: center !important;
		margin: 0 !important;
	}
	.welcome-wrapper .welcome > div {
		padding-bottom: 1em;
	}
	.benefitBanner {
		padding: 2rem 0;
		width: 100%;
	}
	.benefitBanner__item {
		width: 33%;
		max-width: 150px;
	}
	#footer {
		min-height: auto;
		padding: 0;
	}
	.custom-footer {
		margin: 0;
		align-items: center;
		max-width: none;
		text-align: center;
	}
	.footer-bottom .container {
		text-align: center;
	}
	.products-block .prices-top {
		padding: 0;
	}
	.products-block .prices-top .price-standard,
	.products-block .prices-top .price-final {
		flex: auto !important;
	}
	.products-block .p-in a span::after {
		width: 20%;
		height: 0.1em;
		bottom: 0.8em;
	}
	.products-block .product .p {
		height: auto;
	}

	.products-block .p-desc {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		padding-top: 0.5em;
		height: auto;
	}
	.products-block .p:hover .p-bottom,
	.products-block .p .p-bottom {
		padding-bottom: 20px !important;
	}
}
body.in-index.mobile .banners-top > .banner-wrapper:first-child {
	padding-top: 80px;
	background: var(--color-primary);
}
.mobile .banners-top > .banner-wrapper h2 {
	color: var(--color-primary);
	text-align: center;
	font-size: 1.1em;
}
@media (max-width: 440px) {
	.banners-top > .banner-wrapper:first-child {
		font-size: 1.1em;
	}
	.banners-top > .banner-wrapper {
		width: 100%;
	}

	.benefitBanner {
		flex-direction: column;
		align-items: center;
	}
	.benefitBanner__item {
		width: 100%;
	}
}
@media (max-width: 321px) {
	.in-index .p-in a.p-name {
		padding: 0;
	}
	.in-index .p-in a span {
		position: relative;
		padding-bottom: 1.4em;
	}
	.in-index .p-in a span::after {
		bottom: 0.9em;
	}
}

/*uvodni banner na mobil*/
.in-index.mobile .banners-top > .banner-wrapper:first-child {
	position: relative;
}

.in-index.mobile .banners-top > .banner-wrapper:first-child::after {
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	content: "";
	display: block;
	left: 50%;
	top: 0;
	background: red;
	z-index: 999;
	background: url("https://www.crosscafeprazirna.cz/user/documents/upload/upravyVzhledu/ornaments/crosscafe-ornaments-01.svg");
	background-repeat: no-repeat;
	background-position: bottom;
}

/*Detail produktu*/
.type-detail .p-final-price-wrapper {
	text-align: right;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.type-detail .p-final-price-wrapper::before {
	content: "";
	display: block;
	width: 30%;
	height: 6px;
	margin-right: 15px;
	background: var(--color-primary);
}
.type-detail .p-detail .p-detail-inner .price-standard {
	opacity: 1;
}
.type-detail .p-detail .p-detail-inner .price-standard span,
.type-detail .p-detail .p-detail-inner .price-save {
	background: none;
	color: var(--color-secondary);
}
.availability-wrapper .availability-label {
	background: var(--color-primary) !important;
	color: white;
	border-radius: var(--border-radius);
	padding: 8px 25px;
	text-transform: uppercase;
}
.p-details {
	margin: 19px 0;
}
.p-details .detail-parameters tbody > tr:first-child {
	display: none;
}
.shp-tabs-holder ul.shp-tabs {
	margin-left: 0;
}
.shp-tabs-holder ul.shp-tabs a {
	font-weight: 500;
	text-transform: uppercase;
	color: var(--color-primary);
}
.shp-tab,
.shp-tab > a {
	border-style: none !important;
}
.shp-tab.active a::after {
	content: ": ";
	position: relative;
	top: -1px;
	right: -1px;
}
.shp-tabs,
.shp-tabs-holder {
	border-color: var(--color-secondary);
	border-top-style: none;
}
.type-detail .shp-tabs-wrapper > .row {
	position: relative;
}
.type-detail .add-to-cart {
	margin-top: 10px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	column-gap: 10px;
	row-gap: 5px;
}
.type-detail .p-info-wrapper .add-to-cart-button {
	height: 36px;
	padding: 0 19px;
	border-radius: var(--border-radius);
	text-transform: uppercase;
	border-style: solid;
	border-color: var(--color-primary);
	border-width: 1px;
	background: var(--color-tertiary);
	color: var(--color-primary);
	font-weight: 500;
}
.quantity {
	border-color: var(--color-primary);
	background: var(--color-tertiary);
	border-radius: var(--border-radius);
	padding: 0 27px;
}
.cart-widget-product-amount .quantity {
	padding: 0 22px;
}
.quantity input {
	background: var(--color-tertiary) !important;
	color: var(--color-primary);
}
.quantity {
	height: 36px !important;
}
.quantity .decrease,
.quantity .increase,
.quantity input {
	height: 34px !important;
}
.quantity .decrease {
	left: 10px !important;
}
.quantity .increase {
	right: 10px !important;
}
.quantity .decrease:before,
.quantity .increase:before {
	color: var(--color-primary) !important;
	font-size: 10px !important;
	background: var(--color-tertiary) !important;
	line-height: 33px !important;
}
.quantity .decrease:before {
	border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}
.quantity .increase:before {
	border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}
.type-detail .add-to-cart button:hover {
	background: var(--color-secondary);
	color: white;
}
.quantity .decrease:hover::before,
.quantity .increase:hover::before {
	color: var(--color-secondary) !important;
}
.type-detail .shp-tabs-wrapper > .row::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--color-primary);
	opacity: 0.03;
}
.stupnice-block {
	width: 18px;
	height: 14px;
	background: var(--color-secondary);
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
	display: inline-block;
	margin-right: 5px;
}
.stupnice-block.empty {
	background: var(--color-tertiary);
	opacity: 0.8;
}
