:root {
	--hero-slider-text-color: #a79a91;
	--hero-button-color: #dcb276;
	--hero-button-color-hover: #c49655;
	--border-radius: 50px;
	--menu-active-color: #986339;
}
/*---------------------------------------------------hero-slider*/
.w-slider {
	background: none;
}
.slider-mask {
	height: 500px;
}
@media (min-width: 768px) and (orientation: landscape) {
	.slider-mask {
		height: 70vh;
		max-height: 600px;
	}
}
.slide.w-slide {
	height: 100%;
}
.slide-grid {
	display: grid;
	height: 100%;
	grid-template-columns: 1.3fr 1fr;
	grid-template-rows: 1.3fr 1fr;
	padding-left: 40px;
	padding-right: 20px;
}
.slide-text {
	margin-top: auto;
}
.slide-text,
.slide-button {
	grid-column: 1;
}
.slide-text,
.slide-button span {
	color: var(--hero-slider-text-color);
}
.slide-main-text {
	font-size: 46px;
	line-height: 1.35;
	font-weight: 600;
}
.slide-side-text {
	font-size: 26px;
	line-height: 1.25;
	font-weight: 500;
	margin-top: auto;
}
.slide .slide-button {
	--btn-height: 70px;
	background: var(--hero-button-color);
	margin: 20px auto auto 0;
	width: auto;
	font-size: 16px;
	font-weight: 600;
	padding-left: calc(var(--btn-height) + 10px);
	padding-right: 40px;
	height: var(--btn-height);
	border-radius: var(--border-radius);
	position: relative;
	display: grid;
	align-items: center;
}
.slide .slide-button::before {
	content: "";
	height: var(--btn-height);
	width: var(--btn-height);
	background: #f6f6f6;
	position: absolute;
	left: -1px;
	border-radius: var(--border-radius);
	background-image: url("https://606260.myshoptet.com/user/documents/upload/hero-bannery/arrow-right-button.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	transition: left 0.3s ease-in-out, transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
@media (min-width: 768px) {
	.slide .slide-button:hover {
		padding-left: 40px;
		padding-right: calc(var(--btn-height) + 10px);
		background: var(--hero-button-color-hover);
	}
	.slide .slide-button:hover::before {
		left: 100%;
		transform: translateX(calc(-100% + 1px));
	}
}
.banner-wrapper .slide-button span {
	color: white;
	display: grid !important;
	margin-bottom: 1px;
}
.slide-image {
	display: flex !important;
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	padding-left: 10px;
}
.banners-top .slide-image img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: auto;
}
.w-slider-arrow-left {
	width: 36px;
}
@media (max-width: 768px) {
	.banners-top .slider-arrow {
		display: none;
	}
	.slider-mask {
		min-height: 500px;
		height: auto;
	}
	.w-slider {
		border-radius: 0;
		margin-top: 0;
	}
	.slide-grid {
		display: grid;
		height: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		padding: 0;
		text-align: center;
	}
	.slide-image {
		grid-column: 1;
		grid-row: 1;
		margin-bottom: 30px;
		padding: 0;
	}
	.slide .slide-button {
		margin: 15px auto auto;
	}

	.slide-image img {
		border-radius: 20px;
	}
	.slide-main-text {
		font-size: 3rem;
		line-height: 1.35;
		font-weight: 600;
	}
	.slide-side-text {
		font-size: 2rem;
		line-height: 1.35;
		font-weight: 600;
	}
}
/*header menu*/
body {
	padding-top: 30px;
}
@media (max-width: 768px) {
	body {
		padding-top: 50px;
	}
}
@media (max-width: 455px) {
	body {
		padding-top: 60px;
	}
}
.header-navigation {
	padding-bottom: 18px;
}
@media (min-width: 992px) {
	.header-navigation {
		padding-top: 42px;
	}
	.scrolled .header-navigation {
		padding-top: 42px;
	}
	#navigation {
		overflow: visible;
	}
	.navigation-in {
		max-width: 100%;
	}

	.menu-level-1 {
		width: max-content;
		position: relative;
		height: 38px;
		left: 50%;
		transform: translatex(-50%);
	}
	.menu-level-1 > li a {
		padding-top: 8px !important;
		padding-bottom: 0 !important;
	}
	.menu-level-1 > li:first-child {
		position: initial;
	}
	.menu-level-1 > li:first-child a {
		background: var(--menu-active-color) !important;
		border-radius: var(--border-radius);
		color: white;

		padding-left: 20px;
		padding-right: 20px;
	}
	.menu-level-1 > li:first-child .submenu-arrow {
		display: none;
	}
	.menu-level-1 > li:first-child .menu-level-2 {
		display: flex !important;
		flex-direction: row;
		width: 100%;
		position: absolute;
		height: 30px;
		background: var(--menu-active-color);
		right: auto;
		left: 0;
		margin: 0;
		border-style: none;
		border-radius: var(--border-radius);
		bottom: -32px;
		top: auto;
		overflow: hidden;
	}
	.menu-level-1 > li:first-child .menu-level-2 a {
		color: white;
		font-weight: 500;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.menu-level-1 > li:first-child .menu-level-2 a:hover {
		color: var(--color-primary);
	}
	.menu-level-1 > li:first-child .menu-level-2 li a::before {
		display: none;
	}
}
.scrolled .admin-logged .header-navigation {
	top: 0;
}
/*zavreni menu navigace*/
.navigation-close {
	display: none;
}
body.navigation-window-visible .navigation-close {
	display: block;
}

/*footer*/
#footer .footer-platby-online {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	max-width: none;
	width: 90px;
	margin-top: 10px;
}

/*konkurencni vyhody*/
@media (max-width: 768px) {
	.id-1 .benefitBanner.position--benefitHomepage.container {
		margin-top: 20px;
	}
}
@media (max-width: 500px) {
	.id-1 .benefitBanner.position--benefitHomepage.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 5px;
	}
	.id-1 .benefitBanner__picture {
		max-width: 45px;
	}
	.id-1 .benefitBanner__item {
		width: 100%;
	}
	.id-1 .benefitBanner__title {
		font-size: 14px;
	}
	.id-1 .benefitBanner.position--benefitHomepage.container::before {
		display: none;
	}
}

/*proc vybrat právě u nás home page*/
.w-layout-grid.grid-intro > img.proc-vyprat-u-nas {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	max-width: 960px;
	margin: auto;
	margin-bottom: 40px;
	width: 100%;
}
@media (max-width: 767px) {
	.w-layout-grid.grid-intro > img.proc-vyprat-u-nas {
		grid-column: 1;
	}
}

/*kde pomahame home page*/
.in-index .kde-pomahame {
	margin-top: 60px;
}
.in-index .kde-pomahame p {
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 48px;
	color: var(--seda-4);
	font-weight: 800;
	text-align: center;
}

.kde-pomahame-loga {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*top lista*/
.top-lista {
	border-radius: var(--border-radius);
	background: var(--hero-button-color);
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	padding: 3px 0;
	z-index: 99;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transition: top 0.2s ease;
}
.admin-logged .top-lista {
	top: 25px;
}
@media (max-width: 992px) {
	.top-lista {
		position: relative;
		width: calc(100% + 4rem);
		margin-left: -2rem;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	.header-navigation {
		padding-top: 0;
	}
	.scrolled .header-navigation {
		padding-top: 0;
	}
}

.top-lista span {
	display: block;
	margin: auto;
	max-width: 90%;
}
@media (min-width: 992px) {
	/*fix popupu*/
	.popup-widget.cart-widget,
	.popup-widget.search-widget {
		top: 80px;
	}
}

/*kontakt form header*/
header .contact-box {
	padding: 0;
	line-height: 2;
	padding-top: 2px;
	min-height: auto;
}
header .contact-box > img,
header .contact-box > strong {
	display: none;
}

header .contact-box .footer-platby-online {
	display: none !important;
}
header .contact-box ul li > span:before {
	color: var(--menu-active-color);
}
header .contact-box ul li > span a {
	color: var(--seda-2);
	font-weight: 500;
	font-size: 14px;
}

@media (max-width: 1200px) {
	header .contact-box .mail {
		display: none;
	}

	header .contact-box .cellphone::before {
		display: none;
	}
	header .contact-box .cellphone a {
		font-size: 0;
	}
	header .contact-box .cellphone a::before {
		content: "\e92b";
		speak: none;
		display: inline-block;
		font-family: shoptet;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 0;
		text-decoration: none;
		text-transform: none;
		vertical-align: middle;
		color: var(--seda-3);
		left: 0;
		position: absolute;
		text-align: center;
		top: 95%;
		font-size: 20px;
	}
}
