:root {
	--max-width: 1440px;
	--template-font: "Inter";
	--template-headings-font: "Inter";
	--border-radius: 1.5em; /*30px*/
	--border-radius-px: 30px;
	--shadow-clr: rgba(0, 0, 0, 25%);
	--margin-top: clamp(30px, 9.2vh, 100px);
	--margin-top: clamp(30px, 9.2svh, 100px);
	--margin-side: clamp(40px, 8.3vw, 140px);
	--_color-header-text: var(--color-primary);
	--fs-800: clamp(5rem, 1.316vw + 4.4736rem, 14rem);
	--fs-700: clamp(4rem, calc(var(--fs-800) - 3rem), 11rem);
	--fs-600: clamp(2.4rem, 0.833vw + 1rem, 6rem);
	--fs-500: clamp(1.6rem, 0.833vw + 0.4rem, 4rem);
}
@media (min-width: 1921px) {
	:root {
		--margin-side: 0px;
	}
}
@media (min-width: 2200px) {
	:root {
		--max-width: 1920px;
	}
}
.container {
	max-width: var(--max-width);
	width: 100%;
}
body {
	text-wrap: pretty;
	overflow-x: hidden;
}

.display-none {
	display: none !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.banner,
.banner-category,
.banner-wrapper,
.carousel-inner {
	color: var(--color-primary);
	line-height: 1.5;
	font-weight: 300;
}

.in-index p,
.type-product p {
	font-size: var(--fs-500);
}
.btn-block {
	display: flex;
}

.custom-btn,
.btn {
	text-transform: uppercase;
	font-weight: 700 !important;
	border-radius: var(--border-radius) !important;
	border-style: none !important;

	padding: 0.75em 3.5em !important;
	filter: drop-shadow(0px 4px 4px var(--shadow-clr));
	display: inline-block;
}
.custom-btn:hover,
.btn:hover {
	cursor: pointer;
}
.in-index .custom-btn,
.in-index .btn,
.type-product .custom-btn,
.type-product .btn {
	font-size: var(--fs-500) !important;
}
.custom-btn.primary,
.btn {
	background: var(--color-primary-hover) !important;
	color: white !important;
}
.custom-btn.primary:hover,
.custom-btn.primary:focus-within,
.btn:hover,
.btn:focus-within {
	background: var(--color-tertiary) !important;
}
/*-----------------------------------------------------top menu*/
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.25;
	z-index: 9999;
	transition: transform 0.2s ease-out;
	transform: translatex(105%);
}
body.open-menu::before {
	transform: translatex(0);
}
#header {
	z-index: 1000;
	filter: drop-shadow(0px 4px 4px var(--shadow-clr));
	position: sticky;
	top: 0;
}
#header .site-name {
	margin-left: 10px;
}

.navigation-buttons {
	display: none;
}
.menu-helper {
	display: none;
}
#navigation {
	display: none;
	position: fixed;
	top: 0;
	z-index: 9999999;
	right: 0;
	left: auto;
	width: clamp(300px, 30vw, 700px);
	height: auto;
	overflow: visible;
	padding-top: 0;
}
body.open-menu #navigation {
	display: block;
}
.navigation-in.menu {
	filter: drop-shadow(0px 4px 4px var(--shadow-clr));
	width: 100% !important;
}
.menu-level-1 {
	flex-direction: column;
	align-items: flex-start !important;
}
.menu-level-1 .splitted {
	visibility: visible !important;
}
.menu-level-1 a {
	color: var(--color-primary);
}

.menu-level-1 a::before {
	content: "";
	position: absolute;
	bottom: 24px;
	width: calc(100% - 32px);
	left: 16px;
	height: 1px;
	background: var(--color-tertiary);
	transform: scale(0);
	transition: transform 0.3s ease-out, color 0.3s ease-out;
	transform-origin: right;
}
.menu-level-1 a:hover {
	color: var(--color-tertiary) !important;
}
.menu-level-1 a:hover::before {
	transform: scale(1);
	transform-origin: left;
}
.navigationActions {
	display: none;
}

.hamburger-menu {
	position: absolute;
	top: 50%;
	right: 20px;
	max-height: 60%;
	cursor: pointer;
	transform: translateY(-50%);
	display: flex;
	align-items: normal;
}

body.open-menu .hamburger-menu {
	display: none;
}
.navigation-close {
	display: none;
}
.close-hamburger {
	position: fixed;
	top: 20px;
	right: 10px;
	background: transparent;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.close-hamburger::before,
.close-hamburger::after {
	content: "";
	position: absolute;
	left: 10%;
	top: 50%;
	background: var(--color-primary);
	width: 80%;
	height: 1px;
	transition: background 0.2s ease-out;
}
.close-hamburger::before {
	transform: translatey(-50%) rotate(45deg);
}
.close-hamburger::after {
	transform: translatey(-50%) rotate(315deg);
}
.close-hamburger:hover::before,
.close-hamburger:hover::after {
	background: var(--color-primary-hover);
}

/*-----------------------------------------------------KONEC top menu*/
/*-----------------------------------------------------HERO*/
.in-index #content {
	padding: 0;
}
.banners-row {
	margin: 0;
}
.custom-hero {
	display: grid;
	grid-template-rows: 1fr 100%;
	margin-bottom: calc(var(--margin-top) * 2);
}
.custom-hero-image {
	grid-column: 1;
	grid-row: 1;
}
.custom-hero-image img {
	width: 100%;
}
.custom-hero-content {
	grid-column: 1;
	grid-row: 1;
	max-width: var(--max-width);
	width: 100%;
	margin: auto;
	padding: clamp(20px, 3.7vh, 40px) 0;
	padding: clamp(20px, 3.7svh, 40px) 0;
}
.custom-hero-block {
	display: flex;
	flex-direction: column;
	font-size: var(--fs-500);
	max-width: 25em;
	position: relative;
	margin-left: var(--margin-side);
}
.custom-hero-product {
	position: absolute;
	width: clamp(319px, 25vw, 1000px);
	right: 0;
	bottom: 15%;
	transform: translate(100%, 15%);
}
.custom-hero-product img {
	width: 100%;
}
h1,
.h1 {
	font-weight: 200;
	text-transform: uppercase;
	font-size: var(--fs-800);
	line-height: 1.21;
}
.custom-hero h1 {
	max-width: 5em;
	margin: 0;
	margin-bottom: 0.3em;
}
.custom-hero .custom-hero-texts .custom-hero-p > p:last-of-type {
	margin-top: 3.5em;
}
.custom-hero a {
	margin: auto;
}

.add-to-cart-cst-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.add-to-cart-cst-btn .btn-block {
	justify-content: center;
	text-align: center;
	margin-left: 0.6em;
}

.add-amount {
	font-size: calc(var(--fs-800) * 1.2);
	font-weight: 700;
	color: var(--color-primary-hover);
	position: relative;
	padding-right: 0.5em;
	width: auto;
	min-width: 1.8em;
	text-align: right;
}

.amount-arrows {
	position: absolute;
	right: 0;
	top: 0;
	width: 0.3em;
	height: 100%;
}
.amount-arrow {
	width: 0.6em;
	height: 0.4em;
	position: absolute;
	cursor: pointer;
}
#increase-amount {
	top: 22%;
}
#decrease-amount {
	bottom: 22%;
	transform: rotate(180deg);
}

.amount-arrow::before {
	content: "";
	display: block;
	position: absolute;
	width: 0.3em;
	height: 0.2em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: url(https://606260.myshoptet.com/user/documents/upload/Assets/arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

/*-----------------------------------------------------KONEC HERO*/
/*-----------------------------------------------------Home content*/
h2,
.h2 {
	font-weight: 200;
	text-transform: uppercase;
	font-size: var(--fs-700);
	line-height: 1.21;
}
.custom-section h2 {
	max-width: 10em;
}

.custom-hero .custom-hero-texts > p:last-of-type,
.custom-section-main-texts p,
.custom-section-bottom-texts p {
	margin-bottom: 2em;
}
.index-content-wrapper {
	max-width: var(--max-width);
}
.index-content-wrapper .banners-content {
	margin: 0;
}
.body-banners > .banner-wrapper {
	width: 100%;
}

.in-index #content-wrapper {
	background: transparent !important;
	background-color: transparent !important;
}
.custom-section {
	padding-left: var(--margin-side);
}
.custom-section-main {
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
	padding-bottom: calc(var(--margin-top) * 2.5);
	justify-items: center;
}

.custom-section-main-texts {
	font-size: var(--fs-500);
	max-width: 25em;
}
.custom-section-main-image {
	display: flex;
	margin-top: 80px;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.custom-section-main-image img {
	/*filter: drop-shadow(20px 40px 0px var(--color-primary-hover));*/

	box-shadow: 20px 40px 0px var(--color-primary-hover);
	width: 60%;
	margin-left: 30%;
	margin-right: auto;
}

.custom-section-main-bg-image {
	position: absolute;
	z-index: -1;
}
.custom-section-main-bg-image.water {
	width: clamp(0px, 82vw, 1574px);
	bottom: 2%;
}
@media (max-width: 1440px) {
	.custom-section-main-bg-image.water {
		left: calc(0px - var(--margin-side) - 20px);
	}
}
@media (min-width: 1441px) {
	.custom-section-main-bg-image.water {
		left: calc((var(--max-width) - 100vw) / 2 - var(--margin-side) - 20px);
	}
}
@media (min-width: 2401px) {
	.custom-section-main-bg-image.water {
		left: -0px;
	}
}
.custom-section-main-bg-image.herbs {
	width: clamp(0px, 60vw, 1000px);
	bottom: 25%;
	right: 32%;
	transform: rotate(-5deg);
}

.custom-section-main-bg-image img {
	max-width: none;
	width: 100%;
}

.custom-section-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.custom-section-bottom-image {
	display: flex;
	justify-content: center;
	max-width: 70%;
	margin: auto;
}
.custom-section-bottom-texts {
	max-width: 65%;
}
.homepage-texts-wrapper {
	display: none;
}
/*-----------------------------------------------------KONEC Home content*/
/*-----------------------------------------------------footer*/
.footer-newsletter {
	display: none !important;
}
#footer {
	background: var(--color-primary-hover);
	margin: 0;
	border-style: none;
	margin-top: calc(var(--margin-top) * 3);
}
.container.footer-rows {
	max-width: none;
	padding: 0;
}
.footer-rows .custom-footer {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.custom-footer__banner1,
.custom-footer__banner4 {
	width: 100%;
	padding: 0 !important;
}
/*herbs footer*/
.custom-footer__banner1 {
	display: none;
}
.in-index .custom-footer__banner1 {
	display: block;
}

/*water footer*/
.custom-footer__banner4 {
	display: block;
}
.in-index .custom-footer__banner4 {
	display: none;
}

.custom-footer__banner1 .banner,
.custom-footer__banner4 .banner {
	margin: 0;
	background: white;
}
.custom-footer__banner1 .banner .banner-wrapper {
	max-width: 1920px;
	margin: auto;
}

.custom-footer__banner4 .banner .banner-wrapper {
	max-width: none;
	margin: auto;
}

.custom-footer__banner1 img,
.custom-footer__banner4 img {
	width: 100%;
}
.custom-footer__articles,
.custom-footer__contact {
	margin-bottom: auto;
	margin-top: 0;
	width: 50%;
	max-width: calc(var(--max-width) / 2);
	padding-top: 60px !important;
	padding-bottom: 60px !important;
	padding-left: clamp(20px, 10%, 200px);
	padding-right: clamp(20px, 10%, 200px);
}
.custom-footer__articles {
	margin-left: auto;
}
.custom-footer__contact {
	margin-right: auto;
}
.custom-footer__articles h4,
.custom-footer__contact h4 {
	color: white;
	text-transform: uppercase;
	font-size: 1.6rem !important;
	font-weight: 600 !important;
	margin: 0 !important;
	line-height: 1.875;
}

.custom-footer__articles ul,
.custom-footer__contact ul {
	padding: 0 !important;
	margin: 0;
}
.custom-footer__articles ul li a,
.custom-footer__contact ul li a {
	color: white;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.875;
}
.custom-footer__articles ul li::before,
.custom-footer__contact ul li::before {
	display: none;
}
.custom-footer__contact .contact-box ul li > span:before {
	color: white;
}
.footer-bottom {
	border-style: none;
	padding: 0;
	padding-left: clamp(20px, 10%, 200px);
	padding-right: clamp(20px, 10%, 200px);
}
.footer-bottom #signature a,
.footer-bottom .copyright {
	color: white;
}
/*-----------------------------------------------------KONEC footer*/

/*-----------------------------------------------------DETAIL PRODUKTU*/
.detail-parameters,
.social-buttons-wrapper,
.p-basic-info-block,
.p-param-block,
.shp-tabs-row,
.p-image::after,
.breadcrumbs {
	display: none !important;
}

.p-to-cart-block {
	border-style: none;
}
.type-detail {
	overflow-x: hidden;
}
.type-detail h1 {
	margin-bottom: 0;
	font-weight: 300;
}
.p-short-description h2 {
	margin-top: 0;
}
.type-detail h2 {
	font-weight: 300;
}
.basic-description h2 {
	margin-bottom: 0.1em;
}
.type-detail h3 {
	font-weight: 500;
	font-size: var(--fs-600);
	margin-bottom: 0.1em;
}

.product-detail-grid {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	gap: 20px;
}
.grid-entry {
	display: grid;
	grid-template-columns: 84px 1fr;
	gap: 5px;
	align-items: center;
}
.type-detail .quantity {
	max-height: 48px;
}
.type-detail .add-to-cart {
	align-items: center !important;
}

.p-detail-tabs-wrapper {
	max-width: 100%;
}
.p-detail-tabs-wrapper .row,
.p-detail-tabs-wrapper .col-sm-12,
.p-detail-tabs-wrapper .tab-content {
	padding: 0;
	margin: 0;
}
.description-inner::before {
	content: "";
	display: block;
	--image-width: clamp(100px, 60vw, 1440px);
	width: var(--image-width);
	background: url("https://606260.myshoptet.com/user/documents/upload/Assets/Purelife herb asset_2x_transparent_2_flip.png");
	height: calc(var(--image-width) / 3.532);
	background-size: contain;
	background-repeat: no-repeat;
	transform: translatex(-20px);
	margin-bottom: calc(var(--image-width) / 10);
}
.basic-description,
#ratingTab {
	width: 1440px;
	max-width: 80%;
	margin: auto;
}
.tab-content #description,
.tab-content #ratingTab {
	display: block;
	opacity: 1;
}
.detail-desc-image {
	margin: var(--margin-top) 0;
}

.detail-desc-image > img {
	width: clamp(400px, 60%, 700px);
}
.detail-desc-image .with-bg {
	/*filter: drop-shadow(20px 40px 0px var(--color-primary-hover));*/
	box-shadow: 20px 40px 0px var(--color-primary-hover);
}
.detail-desc-image.fw-graphic {
	position: relative;
}
.detail-desc-image.fw-graphic > * {
	z-index: 1;
	position: relative;
}
.detail-desc-image.fw-graphic .asset-img {
	position: absolute;
	z-index: 0;
	bottom: 0;
	max-height: 100%;
	top: calc(var(--margin-top) * -0.7);
}

/*-----------------------------------------------------KONEC DETAIL PRODUKU*/

/*-----------------------------------------------------KOSIK*/
.co-contact-information .form-group .btn {
	width: auto !important;
	max-width: none;
}
/*-----------------------------------------------------KONEC KOSIK*/
/*TABLET*/
//min 992 max 1200
@media (min-width: 992px) and (max-width: 1200px) {
}

/*MOBIL*/

@media (max-width: 991px) {
	:root {
		--margin-top: 15px;
	}
	.overall-wrapper {
		padding-top: 0px;
		overflow-x: hidden;
	}
	.custom-btn,
	.btn {
		padding: 0.5em 2em !important;
	}

	.navigation-in > ul > li > a::before {
		bottom: 6px;
	}
	.close-hamburger {
		top: 0px;
		right: 0px;
		width: 50px;
		height: 50px;
	}
	.close-hamburger::before,
	.close-hamburger::after {
		width: 60%;
	}
	.custom-hero {
		margin-bottom: calc(var(--margin-top) * 2);
	}
	.custom-hero-content {
		padding: 20px 20px 0;
	}
	.custom-hero-block {
		max-width: 100%;
		margin: 0;
	}
	.custom-hero-product {
		position: relative;
		inset: 0;
		transform: none;
		width: 80%;
		margin: auto;
		max-width: 500px;
	}
	.add-to-cart-cst-btn {
		max-width: 500px;
		margin: auto;
		gap: 10px;
	}
	.custom-section {
		padding: 0 20px;
	}
	.custom-section-main {
		padding-bottom: 0;
		grid-template-columns: 1fr;
	}
	.custom-section-main-texts {
		max-width: none;
	}
	.custom-section-main-image {
		margin-top: 0;
		margin-bottom: 4em;
	}
	.custom-section-main-image img {
		margin: 0;
		width: 90%;
	}
	.custom-section-main-image img,
	.detail-desc-image .with-bg {
		box-shadow: 10px 15px 0px var(--color-primary-hover);
	}
	.description-inner::before {
		--image-width: 90vw;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.custom-section-main-texts .btn-block {
		display: none;
	}
	.custom-section-bottom {
		grid-template-columns: 1fr;
		gap: 2em;
	}
	.custom-section-bottom-texts {
		max-width: none;
	}
	.custom-section-bottom .btn-block {
		justify-content: center;
	}
	.custom-section-main-bg-image.herbs {
		bottom: 2%;
		width: 150%;
		right: -10%;
		transform: rotate(0deg);
	}
	.custom-section-main-bg-image.water {
		width: 150%;
		bottom: 15%;
	}
	#footer .banner {
		min-height: auto;
	}
	.custom-hero .custom-hero-texts .custom-hero-p > p:last-of-type {
		margin-top: 1em;
		margin-bottom: 2em;
	}
	.product-detail-grid {
		grid-template-columns: 1fr;
	}
	.p-to-cart-block .p-add-to-cart-wrapper .add-to-cart {
		justify-content: flex-start !important;
	}
	.type-product .stars-wrapper {
		order: 0;
	}
	.type-product .p-final-price-wrapper {
		order: 1;
	}
	.type-product .p-add-to-cart-wrapper {
		order: 2;
	}
	.basic-description {
		max-width: none;
		width: auto;
	}
	.detail-desc-image > img {
		width: 70%;
		margin: auto !important;
		display: block;
		max-width: 600px;
		padding-top: 20px;
	}
	.detail-desc-image.fw-graphic {
		padding-bottom: 60px;
	}
	.detail-desc-image.fw-graphic .asset-img {
		top: auto;
		bottom: -20px;
	}
	.custom-footer__articles,
	.custom-footer__contact {
		margin: auto;
		width: 100%;
		max-width: 100%;
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*varianta produktu*/
.wide .p-final-price-wrapper {
	width: auto;
}
.p-variants-block .detail-parameters {
	display: flex !important;
	justify-content: flex-start;
	padding: 10px;
}
.p-variants-block .detail-parameters tr {
	display: flex;
	margin-left: auto;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.detail-parameters tbody {
	display: block;
	width: 100%;
}
.detail-parameters tbody tr th {
	min-width: auto !important;
	width: auto !important;
}
.form-control,
select {
	color: var(--color-tertiary);
	border-radius: var(--border-radius) !important;
}
.href-to-cart {
	text-decoration: underline;
	font-weight: 500;
	font-size: var(--fs-500);
	text-align: right;
	padding: 10px;
}
.href-to-cart:hover a {
	color: var(--color-tertiary);
}

/*random kategorie v menu*/
#navigation .appended-category {
	display: none !important;
}

.advanced-order .extras-wrap {
	flex-direction: column;
}

.faq-item label {
	color: var(--color-primary) !important;
	font-weight: 500 !important;
}
