:root {
	--max-width: 1440px;
	--template-font: "Inter";
	--template-headings-font: "Inter";
	--border-radius: 30px;
	--shadow-clr: rgba(0, 0, 0, 25%);
	--margin-top: clamp(50px, 7.4vh, 100px);
	--margin-top: clamp(50px, 7.4svh, 100px);
	--margin-side: 8.3vw;
}
.container {
	max-width: var(--max-width);
	width: 100%;
}
body {
	text-wrap: pretty;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.banner,
.banner-category,
.banner-wrapper,
.carousel-inner {
	color: var(--color-primary);
	line-height: 1.5;
	font-weight: 300;
}
.btn-block {
	display: flex;
}
.custom-btn,
.btn-default {
	text-transform: uppercase;
	font-weight: 700;
	border-radius: var(--border-radius);
	font-size: 1.6rem;
	padding: 1em 3.5em;
	filter: drop-shadow(0px 4px 4px var(--shadow-clr));
	display: inline-block;
}
.custom-btn.primary,
.btn-default {
	background: var(--color-primary-hover) !important;
	color: white !important;
}
.custom-btn.primary:hover,
.custom-btn.primary:focus-within,
.btn-default:hover,
.btn-default:focus-within {
	background: var(--color-tertiary) !important;
}
.custom-hero {
	display: grid;
	grid-template-rows: 1fr 100%;
	margin-bottom: calc(var(--margin-top) * 2);
}
.custom-hero-image {
	grid-column: 1;
	grid-row: 1/3;
}
.custom-hero-image img {
	width: 100%;
}
.custom-hero-content {
	grid-column: 1;
	grid-row: 1;
	max-width: var(--max-width);
	width: 100%;
	margin: auto;
	min-height: 800px;
}
.custom-hero-block {
	display: flex;
	flex-direction: column;
	max-width: calc(var(--max-width) / 3.2);
	position: relative;
	margin-top: var(--margin-top);
	margin-left: var(--margin-side);
}
.custom-hero-product {
	position: absolute;
	right: 0;
	bottom: 0px;
	transform: translate(100%, 15%);
}
h1,
.h1 {
	font-weight: 200;
	text-transform: uppercase;
	font-size: 7rem;
	line-height: 1.21;
}
.custom-hero h1 {
	max-width: 5em;
	margin: 0;
	margin-bottom: 0.2em;
}
h2,
.h2 {
	font-weight: 200;
	text-transform: uppercase;
	font-size: 4rem;
	line-height: 1.21;
}
.custom-section h2 {
	max-width: 10em;
}
p {
	font-size: 2rem;
}
.custom-hero .custom-hero-texts > p:last-of-type {
	margin-top: 3.5em;
}
.custom-hero a {
	margin-left: auto;
}
.custom-hero .custom-hero-texts > p:last-of-type,
.custom-section-main-texts p,
.custom-section-bottom-texts p {
	margin-bottom: 1.5em;
}
.index-content-wrapper {
	max-width: var(--max-width);
}
.body-banners > .banner-wrapper {
	width: 100%;
}

.in-index #content-wrapper {
	background: transparent !important;
	background-color: transparent !important;
}
.custom-section {
	padding-left: var(--margin-side);
	margin-bottom: calc(var(--margin-top) * 2);
}
.custom-section-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	padding-bottom: calc(var(--margin-top) * 2);
}

.custom-section-main-texts {
	max-width: calc(var(--max-width) / 2.9);
}
.custom-section-main-image {
	margin-top: 80px;
}
.custom-section-main-image img {
	filter: drop-shadow(20px 40px 0px var(--color-primary-hover));
}
.custom-section-main-bg-image {
	position: absolute;
	z-index: -1;
}
.custom-section-main-bg-image.water {
	width: 80vw;
	left: calc(((100vw - 1440px) / -2) - var(--margin-side));
	bottom: 0;
}
.custom-section-main-bg-image.herbs {
	width: 80vw;
	right: var(--margin-side);
	top: 30%;
}
.custom-section-main-bg-image img {
	max-width: none;
	width: 100%;
}

.custom-section-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.custom-section-bottom-image {
	display: flex;
	justify-content: center;
}
.custom-section-bottom-texts {
	max-width: 65%;
}

#footer::before {
	content: url("https://606260.myshoptet.com/user/documents/upload/Assets/Purelife footer asset.png");
	display: flex;
	justify-content: center;
}
