.p-detail-inner-header > .h1,
.p-detail-inner-header > h1 {
	font-size: 2.5rem !important;
}
.flag-discount {
	display: none !important;
}
.additional-buttons {
	display: flex;
	gap: 15px;
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	align-items: flex-end;
	justify-content: flex-end;
}
@media (max-width: 767px) {
	.additional-buttons {
		flex-direction: column;
	}
}
.additional-buttons .cst-button {
	width: 250px;
}
.type-detail .buy-box .add-to-cart {
	margin-left: auto;
}
.buy-box {
	padding-right: 10px;
}
.buy-box .p-final-price-wrapper {
	width: 100%;
}
@media (min-width: 1200px) and (max-width: 1439px) {
	.additional-buttons .cst-button {
		width: 215px;
	}
}
@media (min-width: 1440px) {
	.p-info-wrapper .add-to-cart {
		justify-content: flex-end;
	}
	.p-info-wrapper .add-to-cart button.btn.add-to-cart-button {
		width: 239px;
	}
}
@media (max-width: 479px) {
	.additional-buttons {
		margin-bottom: 70px;
		margin-top: 20px;
	}
	.additional-buttons .cst-button {
		width: 100%;
	}
	.type-detail .buy-box .add-to-cart {
		width: 100%;
	}
	.buy-box {
		padding-right: 0;
	}
}
.cst-button {
	color: white;
	font-size: 16px;
	height: 56px;
	background: var(--color-tertiary);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	transition: background 0.2s ease-out;
}
.cst-button:hover {
	background: var(--color-secondary-hover);
}
/*krok 1 objednavka*/

.cenaBezDotaceString {
	margin: 0;
	white-space: normal;
	color: black;
	font-weight: 400;
}
.cenaBezDotace {
	color: black;
	font-weight: 800;
	margin: 0;
}

.invesicePoDotaciString {
	margin: 0;
	white-space: normal;
	color: black;
	font-weight: 400;
}
.verticalAlignTop {
	vertical-align: top;
}
@media (max-width: 1440px) {
	.verticalAlignTop {
		vertical-align: middle;
	}
}
@media screen and (max-width: 1199px) {
	.cart-table tr > td.p-total {
		padding-right: 30px;
	}
}
@media screen and (min-width: 1200px) {
	.cart-table tr > td.p-total {
		padding-right: 50px;
	}
}
@media screen and (min-width: 1440px) {
	.cart-table tr > td.p-total {
		padding-right: 70px;
	}
}
@media (max-width: 767px) {
	.additional-buttons {
		flex-direction: column;
	}
}

/*krok 3 - formular*/
.block-s-poradcem label {
	width: 250px;
}
.block-s-poradcem label,
.block-s-poradcem input {
	margin-bottom: 16px;
}
.block-s-poradcem .form-group input,
.block-s-poradcem .form-group label {
	display: none;
}
.block-s-poradcem .form-group #nakupujiSPoradcem,
.block-s-poradcem .form-group label[for="nakupujiSPoradcem"] {
	display: block;
}
.block-s-poradcem .form-group.checked input,
.block-s-poradcem .form-group.checked label {
	display: block;
}
@media (max-width: 479px) {
	.block-s-poradcem .form-group {
		margin-bottom: 16px;
	}
}

#add-note,
label[for="add-note"],
#remark {
	display: none !important;
}
#remark-2 {
	margin-top: 16px;
}
.add-note-form-group {
	margin: 0;
	display: none;
}
#remark-2 {
	display: none;
}
.note-2-form-group.checked #remark-2 {
	display: block;
}
#note {
	display: none;
}
