.p-detail-inner-header > .h1,
.p-detail-inner-header > h1 {
	font-size: 2.5rem !important;
}
.flag-discount {
	display: none !important;
}
.additional-buttons {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	align-items: flex-end;
}
.additional-buttons .cst-button {
	width: 250px;
}
.type-detail .buy-box .add-to-cart {
	margin-left: auto;
}
.buy-box {
	padding-right: 10px;
}
@media (min-width: 1200px) and (max-width: 1439px) {
	.additional-buttons .cst-button {
		width: 215px;
	}
}
@media (max-width: 479px) {
	.additional-buttons {
		margin-bottom: 70px;
		margin-top: 20px;
	}
	.additional-buttons .cst-button {
		width: 100%;
	}
	.type-detail .buy-box .add-to-cart {
		width: 100%;
	}
	.buy-box {
		padding-right: 0;
	}
}
.cst-button {
	color: white;
	font-size: 16px;
	height: 56px;
	background: var(--color-tertiary);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	transition: background 0.2s ease-out;
}
.cst-button:hover {
	background: var(--color-secondary-hover);
}
