:root {
  --number-of-items: 4;
  --next-item-preview: 80px;
}

#carousel {
  position: relative;
  padding-top: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
#carousel .carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  --gap: 10px;
  gap: var(--gap);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  min-height: auto !important;
}
#carousel .carousel-inner::-webkit-scrollbar {
  display: none;
}
#carousel .carousel-inner.grabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
#carousel .carousel-inner.grabbing a {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
#carousel .carousel-inner .item {
  display: block;
  position: relative;
  color: black;
  text-wrap: pretty;
  width: calc(100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items) - var(--next-item-preview) / var(--number-of-items));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: start;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
#carousel .carousel-inner .item a {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9f9f9));
  background: linear-gradient(to bottom, white, #f9f9f9);
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
#carousel .carousel-inner .item .extended-banner-texts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px 30px 33px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: inherit;
  right: auto;
  top: auto;
}
#carousel .carousel-inner .item .extended-banner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  position: initial;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 0.375em;
}
#carousel .carousel-inner .item .extended-banner-title > span:nth-child(2) {
  color: var(--color-primary);
}
#carousel .carousel-inner .item .extended-banner-text {
  position: initial;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 1em;
}
#carousel .carousel-inner .item .extended-banner-link {
  position: initial;
  inset: 0;
  margin: 0;
  font-size: 16px;
  color: white;
  font-weight: 700;
  line-height: 1;
  border-radius: 12px;
  background-color: var(--color-primary);
  padding: 0.75em 1.5em !important;
  z-index: 1;
}
#carousel .carousel-inner .item .extended-banner-link > span:nth-child(1) {
  color: black;
}
#carousel .carousel-inner .item .extended-banner-link:hover {
  background-color: var(--color-secondary-hover);
}
#carousel .carousel-inner .item .extended-banner-link:before {
  display: none !important;
}
#carousel .carousel-inner .item a,
#carousel .carousel-inner .item img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#carousel .carousel-inner .item img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#carousel .carousel-inner .item:hover img {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
#carousel .carousel-control.left {
  left: -15px;
}
#carousel .carousel-control.right {
  right: -15px;
}
#carousel .carousel-control.hidden-control {
  display: none !important;
}

.product-slider-navigation,
.carousel-control {
  border-radius: 30%;
}

@media screen and (max-width: 1439px) {
  :root {
    --number-of-items: 3;
  }
}
@media screen and (max-width: 991px) {
  :root {
    --number-of-items: 2;
    --next-item-preview: 80px;
  }
  .extended-banner-texts {
    padding: 30px 15px 24px 24px !important;
  }
  .extended-banner-title {
    font-size: 24px !important;
  }
  .extended-banner-text {
    font-size: 14px !important;
  }
  .extended-banner-link {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 740px) {
  :root {
    --number-of-items: 2;
    --next-item-preview: 40px;
  }
}
@media screen and (max-width: 650px) {
  :root {
    --number-of-items: 1;
    --next-item-preview: 240px;
  }
}
@media screen and (max-width: 570px) {
  :root {
    --number-of-items: 1;
    --next-item-preview: 150px;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --number-of-items: 1;
    --next-item-preview: 100px;
  }
}
@media screen and (max-width: 440px) {
  :root {
    --number-of-items: 1;
    --next-item-preview: 80px;
  }
}
@media screen and (max-width: 767px) {
  #carousel {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .vyhody,
  .benefitBanner {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    overflow-x: auto;
    padding-bottom: 6px !important;
  }
  .vyhody > *,
  .benefitBanner > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    --width: 65vw;
    -ms-flex-preferred-size: var(--width) !important;
        flex-basis: var(--width) !important;
    width: var(--width) !important;
    max-width: 400px !important;
  }
}
/*Header*/
.admin-logged #header .search input {
  border-radius: 12px;
}
@media screen and (min-width: 991px) {
  .admin-logged #header .header-top-wrapper > div.search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .admin-logged #header .header-top-wrapper > div.navigation-buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .admin-logged #header .navigation-buttons .tel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    --content-width: 56px;
    padding-left: calc(var(--content-width) + 10px);
    margin-bottom: auto;
  }
  .admin-logged #header .navigation-buttons .tel a::before {
    content: "";
    display: block;
    width: var(--content-width);
    height: var(--content-width);
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    background: url("https://www.ohhira.sk/user/documents/upload/header/header_kontakt_foto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .admin-logged #header .navigation-buttons .tel a::after {
    position: relative;
    left: calc(var(--content-width) + 10px);
    right: auto;
  }
}
@media screen and (min-width: 1420px) {
  .admin-logged #header .header-top-wrapper > div.search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .admin-logged #header .header-top-wrapper > div.navigation-buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
  .admin-logged .navigation-buttons * {
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99;
  }
  .admin-logged .navigation-buttons .header-reviews {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .admin-logged .navigation-buttons .tel {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .admin-logged .navigation-buttons a.btn {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .admin-logged .header-reviews.visible {
    display: grid !important;
    grid-template-columns: 55px 55px 130px;
    grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .admin-logged .header-reviews .header-checkmark-icon {
    grid-column: 1;
    grid-row: 1/3;
  }
  .admin-logged .header-reviews .header-reviews-percentage {
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
  }
  .admin-logged .header-reviews .header-stars {
    grid-column: 3;
    grid-row: 1;
  }
  .admin-logged .header-reviews .header-reviews-text {
    grid-column: 2/-1;
    grid-row: 2;
    font-size: 18px;
    color: #252729;
  }
}