/* $large-mobile-min: 500px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-medium-min: 1024px;
$tablet-max: 1279px;
$desktop-min: 1280px;
$desktop-medium-min: 1440px;
$desktop-large-min: 1680px;

@mixin slider-controls {
	position: absolute;
	top: 50%;
	background: var(--color-black);
	width: 52px;
	height: 52px;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	border-color: var(--color-white);
	background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_right_white.svg");
	background-position: calc(50% + 1px) center;
	background-repeat: no-repeat;
	background-size: 25%;
	transition: background-color 0.2s ease-out;
	cursor: pointer;
	&:hover,
	&:focus-within {
		background-color: var(--color-primary);
	}
	@media screen and (max-width: $tablet-medium-min) {
		width: 36px;
		height: 36px;
	}
	&.left {
		left: 0;
		transform: translate(-50%, -50%) rotate(180deg);
		@media screen and (max-width: $tablet-medium-min) {
			transform: translate(0%, -50%) rotate(180deg);
			left: -19px;
		}
		@media screen and (max-width: $mobile-max) {
			transform: translate(0%, -50%) rotate(180deg);
			left: -9px;
		}
		@media screen and (max-width: $large-mobile-min) {
			top: 33%;
		}
	}
	&.right {
		right: 0;
		transform: translate(50%, -50%);
		@media screen and (max-width: $tablet-medium-min) {
			transform: translate(0%, -50%);
			right: -19px;
		}
		@media screen and (max-width: $mobile-max) {
			transform: translate(0%, -50%);
			right: -9px;
		}
		@media screen and (max-width: $large-mobile-min) {
			top: 33%;
		}
	}
	span {
		display: none;
	}
}
@mixin banner-item-preset {
	position: relative;
	color: var(--color-black);
	transition: transform 0.3s ease-in-out;
	text-wrap: pretty;
	.mobile-image {
		display: none;
	}
	.pc-image {
		display: block;
	}
	@media screen and (max-width: $tablet-medium-min) {
		.mobile-image {
			display: block;
		}
		.pc-image {
			display: none;
		}
	}
	a {
		background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
		position: relative;
		color: inherit;
		text-decoration: none;
		display: block;
		border-radius: var(--br-16);
		overflow: hidden;
	}
	img,
	video {
		transition: transform 0.2s ease-in-out;
	}
	.extended-banner-texts {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 30px 10px 30px 33px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: inherit;
		@media screen and (max-width: $tablet-medium-min) {
			padding: 20px 14px 30px 33px;
		}
	}
	.extended-banner-title {
		font-size: var(--fs-24);
		font-weight: var(--fw-700);
		line-height: var(--lh-1-4);
		padding-bottom: 0.375em;
	}
	.extended-banner-text {
		font-size: var(--fs-20);
		line-height: var(--lh-1-4);
		padding-bottom: 1.111em;
	}
	.extended-banner-link {
		color: var(--color-white);
		font-size: var(--fs-13);
		font-weight: var(--fw-700);
		line-height: 1;
		border-radius: var(--br-12);
		background-color: var(--color-primary);

		padding: 1.077em 1.538em;
		z-index: 1;
		transition: background-color 0.2s ease-out;
		&:hover,
		&:focus-within {
			background-color: var(--color-primary-hover);
		}
	}

	&:hover,
	&:focus-within {
		img,
		video {
			transform: scale(1.025);
		}
	}
	&.white {
		color: var(--color-white);
	}
	.carousel-video-lazy {
		video {
			display: none;
		}
		&.loaded {
			video {
				display: block;
			}
			img {
				display: none !important;
			}
		}
	}

	@media screen and (max-width: $desktop-medium-min) {
		.extended-banner-texts {
			padding: 20px 10px 20px 20px;
		}
		.extended-banner-title {
			font-size: var(--fs-20);
		}
		.extended-banner-text {
			font-size: var(--fs-16);
			padding-bottom: 1em;
		}
		.extended-banner-link {
			font-size: var(--fs-13);
		}
	}
}
#carousel {
	position: relative;
	padding-top: 22px;
	.item {
		@include banner-item-preset;
	}
	.item:nth-child(2) {
		display: none;
	}
	@media screen and (max-width: $desktop-min) {
		.item:first-child {
			display: none;
		}
		.item:nth-child(2) {
			display: block;
		}
	}
}

.carousel-inner {
	min-height: auto !important;

	a:has(img) {
		background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
	}
}

@mixin customSlider {
	position: relative; 
	user-select: none;
	display: block;
	&:not(.content) > *,
	&.content > .products-block {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		--gap: var(--gap-20);
		@media screen and (max-width: $tablet-medium-min) {
			--gap: var(--gap-10);
		}
		gap: var(--gap);
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;

		&.grabbing,
		&.grabbing * {
			cursor: grabbing !important;
		}

		&::-webkit-scrollbar {
			display: none;
		}


		> * {
			width: calc(
				100% / var(--number-of-items) - var(--gap) * ((var(--number-of-items) - 1) / var(--number-of-items)) -
					var(--next-item-preview) / var(--number-of-items)
			);
			flex-shrink: 0;
			scroll-snap-align: start;
			flex-basis: auto;
		}
		> *:first-child {
			width: calc(
				(
						100% / var(--number-of-items) - var(--gap) * ((var(--number-of-items) - 1) / var(--number-of-items)) -
							var(--next-item-preview) / var(--number-of-items)
					) * var(--width-multiplier-of-1st-item)
			);
		}
	}
	.carousel-control {
		position: absolute;
		top: 50%;
		background: var(--color-black);
		width: 52px;
		height: 52px;
		border-radius: 50%;
		border-style: solid;
		border-width: 4px;
		border-color: var(--color-white);
		background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_right_white.svg");
		background-position: calc(50% + 1px) center;
		background-repeat: no-repeat;
		background-size: 25%;
		transform-origin: center;
		transition: background-color 0.2s ease-out, transform 0.2s ease-in-out;

		cursor: pointer;
		&:hover,
		&:focus-within {
			background-color: var(--color-primary);
		}

		@media screen and (max-width: $tablet-medium-min) {
			width: 36px;
			height: 36px;
		}
		&.left {
			left: 0;
			transform: translate(-50%, -50%) rotate(180deg) scale(1);
			&.hidden-control {
				transform: translate(-50%, -50%) rotate(180deg) scale(0);
			}
			@media screen and (max-width: $tablet-medium-min) {
				left: 5px;
			}
		}
		&.right {
			right: 0;
			transform: translate(50%, -50%) scale(1);
			&.hidden-control {
				transform: translate(50%, -50%) scale(0);
			}
			@media screen and (max-width: $tablet-medium-min) {
				right: 5px;
			}
		}
	}
}
.in-index {
	#carousel {
		--width-multiplier-of-1st-item: 2;
		--number-of-items: 4;
		--next-item-preview: 60px;
		@media screen and (max-width: $desktop-medium-min) {
			--number-of-items: 3;
			--next-item-preview: 40px;
		}
		@media screen and (max-width: $desktop-min) {
			--number-of-items: 3;
			--next-item-preview: 40px;
			--width-multiplier-of-1st-item: 1;
			> * > *:first-child {
				display: none;
			}
		}
		@media screen and (max-width: $tablet-medium-min) {
			--number-of-items: 2;
			--next-item-preview: 150px;
		}
		@media screen and (max-width: $mobile-max) {
			--number-of-items: 1;
			--next-item-preview: 200px;
		}
		@media screen and (max-width: $large-mobile-min) {
			--number-of-items: 1;
			--next-item-preview: 50px;
		}
		@include customSlider;
	}
}
 */