:root {
  --number-of-items: 3;
  --next-item-preview: 100px;
}

#carousel {
  position: relative;
  padding-top: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
#carousel .carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  --gap: 10px;
  gap: var(--gap);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  min-height: auto !important;
}
#carousel .carousel-inner::-webkit-scrollbar {
  display: none;
}
#carousel .carousel-inner.grabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
#carousel .carousel-inner.grabbing a {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
#carousel .carousel-inner .item {
  display: block;
  position: relative;
  color: black;
  text-wrap: pretty;
  width: calc(100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items) - var(--next-item-preview) / var(--number-of-items));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: start;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
#carousel .carousel-inner .item a {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9f9f9));
  background: linear-gradient(to bottom, white, #f9f9f9);
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
#carousel .carousel-inner .item .extended-banner-texts {
  padding: 20px 10px 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px 30px 33px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: inherit;
  right: auto;
  top: auto;
}
#carousel .carousel-inner .item .extended-banner-title {
  display: block;
  padding: 0;
  position: initial;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 0.375em;
}
#carousel .carousel-inner .item .extended-banner-title > span:nth-child(2) {
  color: var(--color-primary);
}
#carousel .carousel-inner .item .extended-banner-text {
  position: initial;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 1em;
}
#carousel .carousel-inner .item .extended-banner-link {
  position: initial;
  inset: 0;
  margin: 0;
  font-size: 16px;
  color: white;
  font-weight: 700;
  line-height: 1;
  border-radius: 12px;
  background-color: var(--color-primary);
  padding: 0.75em 1.5em;
  z-index: 1;
}
#carousel .carousel-inner .item .extended-banner-link > span:nth-child(1) {
  color: black;
}
#carousel .carousel-inner .item .extended-banner-link:hover {
  background-color: var(--color-secondary-hover);
}
#carousel .carousel-inner .item a,
#carousel .carousel-inner .item img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#carousel .carousel-inner .item img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#carousel .carousel-inner .item:hover img {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
#carousel .carousel-control.left {
  left: -15px;
}
#carousel .carousel-control.right {
  right: -15px;
}