.type-product {
	.social-buttons-wrapper {
		display: flex;
		> * {
			display: none;
		}
		> .watchdog-active {
			display: flex;
			a {
				&::before {
					content: "";
					background: url(https://732922.myshoptet.com/user/documents/upload/assets/icon_watchdog.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					width: 100%;
					height: 1em;
					height: 1lh;
				}
			}
		}
	}
}
