.admin-logged {
  /* 	@media screen and (max-width: 768px) {
  	&.in-index {
  		.products-block {
  			.slick-track {
  				width: auto !important;

  				.product {
  					width: 100% !important;
  					min-width: 100%;
  					flex-basis: 100% !important;
  				}
  			}
  		}
  	}
  } */
}
@media (min-width: 992px) {
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child {
    padding-bottom: 0;
    margin-bottom: 40px;
    width: calc(33.333% - 40px);
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .text {
    padding-right: 0;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .text .title {
    font-size: 1.8em;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .text .description {
    margin-bottom: 0;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image {
    height: 23vw;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image a:hover img {
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
  }
}
.admin-logged.type-category .listSorting {
  display: none !important;
}
.admin-logged.type-category #filters-wrapper {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .admin-logged.type-category .cat-header-scroll-wrapper {
    display: none;
  }
}

/* 
.admin-logged {
    @media screen and (max-width:992px) {
        &.in-index {
            .homepage-blog-wrapper {
                flex-wrap: nowrap;
                overflow-x: auto;
                .news-items-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    .news-item {
                        min-width: 300px;

                    }
                }
            }

        }
    }
}
 */