.admin-logged {
  /* 	@media screen and (max-width: 768px) {
  	&.in-index {
  		.products-block {
  			.slick-track {
  				width: auto !important;

  				.product {
  					width: 100% !important;
  					min-width: 100%;
  					flex-basis: 100% !important;
  				}
  			}
  		}
  	}
  } */
}
@media (min-width: 992px) {
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child {
    padding-bottom: 0;
    margin-bottom: 40px;
    width: calc(33.333% - 40px);
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .text {
    padding-right: 0;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .text .title {
    font-size: 1.8em;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .text .description {
    margin-bottom: 0;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image {
    height: 275px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image {
    height: 23vw;
  }
}
@media (min-width: 992px) {
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .admin-logged.type-posts-listing .news-wrapper .news-item:first-child .image a:hover img {
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
  }
}
.admin-logged.type-category .listSorting {
  display: none !important;
}
.admin-logged.type-category #filters-wrapper {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .admin-logged.type-category .cat-header-scroll-wrapper {
    display: none;
  }
}
.admin-logged {
  /*blog*/
}
.admin-logged .homepage-blog-wrapper {
  display: none;
}
.admin-logged .clanky-container {
  padding: 20px 0;
}
.admin-logged .clanky-container .homepage-group-title::before {
  display: none !important;
}
.admin-logged .clanky-wrapper {
  /* max-width: 1640px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* padding: 0px 15px 10px; */
  padding: 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  overflow: auto;
}
@media screen and (max-width: 1440px) {
  .admin-logged .clanky-wrapper {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media screen and (max-width: 992px) {
  .admin-logged .clanky-wrapper {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.admin-logged .clanky-wrapper .news-item-custom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin-logged .clanky-wrapper .news-item-custom a {
  text-decoration: none;
}
.admin-logged .clanky-wrapper .news-item-custom a:hover .title {
  text-decoration: underline;
}
.admin-logged .clanky-wrapper .news-item-custom a .title {
  margin-top: 0;
  font-size: 1.8em;
  margin-bottom: 0;
  font-weight: 300;
  color: #000;
  min-height: inherit;
  line-height: 1.4em;
}
.admin-logged .clanky-wrapper .news-item-custom a .description {
  line-height: 1.8em;
  letter-spacing: 0.3px;
  padding-right: 10px;
  margin-top: 8px;
}
.admin-logged .clanky-wrapper .news-item-custom a .read-article {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  letter-spacing: 0.1px;
  font-weight: 300;
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: auto;
  min-height: inherit;
  line-height: inherit;
  padding: 10px 0;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.admin-logged .clanky-wrapper .news-item-custom a .read-article:after {
  width: 50%;
  height: 1px;
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.admin-logged .clanky-wrapper .news-item-custom a .read-article:hover {
  color: var(--color-primary-hover);
  border-bottom-color: var(--color-primary-hover);
}
.admin-logged .clanky-wrapper .news-item-custom a .read-article:hover:after {
  width: 100%;
  background: var(--color-primary-hover);
}
.admin-logged .clanky-wrapper .news-item-custom img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
@media screen and (max-width: 798px) {
  .admin-logged .clanky-wrapper .news-item-custom {
    min-width: 70vw;
  }
}
@media screen and (max-width: 550px) {
  .admin-logged .clanky-wrapper .news-item-custom {
    min-width: 80vw;
  }
  .admin-logged .clanky-wrapper .news-item-custom .title {
    font-size: 1.4em;
  }
  .admin-logged .clanky-wrapper .news-item-custom .description {
    line-height: 1.6em;
    font-size: 0.9em;
  }
}
.admin-logged .btn.custom-buy-button {
  background-color: #0f7d18;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  display: block !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  text-align: center;
}
.admin-logged .btn.custom-buy-button:hover, .admin-logged .btn.custom-buy-button:focus {
  background-color: #14c23a;
  color: white;
}
@media screen and (max-width: 519px) {
  .admin-logged .products-page.products-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .admin-logged .products-page.products-block .product {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* 
.admin-logged {
    @media screen and (max-width:992px) {
        &.in-index {
            .homepage-blog-wrapper {
                flex-wrap: nowrap;
                overflow-x: auto;
                .news-items-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    .news-item {
                        min-width: 300px;

                    }
                }
            }

        }
    }
}
 */